/* side bar*/
.left_bar ul li.blog-bar {
    background-color: #677583;
}

li.blog-bar i, li.blog-bar span.bar_name{
  color: white !important;
}

/*========================*/
.clear{
  clear: both;
}

#blog_list{
  margin-top: 40px;
  width: 80%;
  background-color: white;
  margin-left: 5%;
  padding-bottom: 40px;
  box-shadow: 2px 5px 4px #E8EAEB;
  vertical-align: middle;
}

/*#blog_list form{
  padding-top: 30px;
}*/

#blog_list .page_tool{
  margin-top: 20px;
}

#blog_list .select_page{
  width:60px !important;
  display: inline-block !important;
  float: right !important;
}

#blog_list .page {
  width: 200px;
  display: inline-block;
  float: right;
  height: 20px;
}

#blog_list .pager{
  margin: 0;
}

#blog_list .pager li a{
  color: #4F4F4F;
}

#blog_list hr{
  border-top: 2px solid rgb(216,231,246);
  margin: 10px;
}

#blog_list .blog_list{
  padding: 20px;
  padding-left: 50px;
}

#blog_list .blog_list .post:hover{
  cursor: pointer;
}


#blog_list .blog_edit{
  padding: 10px;
}

#blog_list .blog_edit textarea{
  width: 100%;
}

#blog_list .blog_edit #subBtn,  #blog_list .blog_edit #resetBtn{
  width: 80px;
  float: right;
  display: inline-block;
  margin: 10px;
  outline: none;
}

#blog_list .blog_edit #resetBtn{
  background-color: #E1E1E1;
  color: black;
  border: 0;
}

#blog_list .blog_edit #subBtn{
  background: #3D9EDC;
  color:white;
  border: 0;
}

#blog_list button.saveBtn{
  width: 100px;
  background-color:rgb(61,158,220);
  color: white;
  border: 0;
  float: right;
  margin-right: 50px;
}

#blog_list h3{
  margin: 0;
  height: 70px;
  background-color: #273543;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 25px;
}
