/*my css*/
/* side bar*/
.left_bar ul li.job-bar {
    background-color: #677583;
}

li.job-bar i, li.job-bar span.bar_name{
  color: white !important;
}

/*========================*/
.approval_up {
    width: 95%;
    box-sizing: border-box;
    padding-bottom: 40px;
    padding-top: 30px;
    padding-left: 0px;
    margin-left: 41px;
    background-color: white;
    margin-top: 20px;
    box-shadow: 2px 5px 4px #E8EAEB;
    position: relative;
}

.approval_up th, .approval_up td {
    height: 10px;
    box-sizing: border-box;
    font-size: 18px;
    color: #474A50;
}

.approval_up th{
  width: 200px;
  text-align: right;
  padding-right: 30px;
  color: #A5A5A5;
}

.approval_up td{
  width: 300px;
  text-align: left;
  padding-left: 10px;
}

.approval_up td input.disable{
  border: 0px;
}

.approval_up button.saveBtn01 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #3D9EDC;
    border: 0;
    color: white;
    text-align: center;
    width:50px;
}

#jobEditBtn {
  position: absolute;
  right: 10px;
  top: 10px;
  color: #717171;
  text-align: center;
}

#jobEditBtn{
  outline: none;
}

.approval_middle {
    width: 97%;
    box-sizing: border-box;
    margin-left: 41px;
    margin-top: 20px;
}

.approval_middle .user_contact{
  width: 32%;
  background-color: white;
  box-shadow: 2px 5px 4px #E8EAEB;
  display: inline-block;
  float: left;
  margin-right: 1%;
  box-sizing: border-box;
  height: 140px;
  position: relative;
}

.user_contact .user_plus{
  position: absolute;
  left: 50%;
  top:50%;
  margin-left: -24px;
  margin-top: -28px;
  color:#D8D8D8;
  outline: none;
}

.user_contact>.select_input{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -16px;
  margin-left: -110px;
  display: inline-block;
  width:220px;
  outline: none;
}

.approval_middle .user_contact .contact_up{
  width:280px;
  margin-left: auto;
  margin-right: auto;
}

.approval_middle .user_contact .contact_down{
  width:300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.user_contact img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: inline-block;
  float: left;
}

.user_contact .user_intro{
  display: inline-block;
  float: left;
  vertical-align: middle;
  height: 50px;
  padding-left: 10px;
  padding-top: 5px;
}

.user_contact{
  padding: 20px;
}

.user_intro h4, .user_intro p {
    margin: 0;
}

.user_intro p {
    font-size: 16px;
    color: #A5A5A5;
}

.contact_down {
    padding-top: 10px;
}

.contact_down i {
    color: #41A0DA;
}

.contact_down span {
    margin-right: 5%;
    width: 45%;
}

.contact_down span a{
  color: #A5A5A5;
}

/*.approval_middle .user_plus {
    height: 120px;
}*/

/*.user_plus span{
  color:#D8D8D8;
  display: inline-block;
  width: 100%;
  text-align: center;
}*/

.clear {
    clear: both;
}

.approval_down {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.approval_down_left {
    padding-top: 30px;
    height: 850px;
    background-color: white;
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    float: left;
    box-shadow: 2px 5px 4px #E8EAEB;
    position: relative;
}

.approval_down_left span.timeline_editBtn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #717171;
}

.approval_down_left span.timeline_editBtn.edit{
   color:#3D9EDC;
}

.approval_down_left button.saveBtn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: #3D9EDC;
    border: 0;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.approval_down h3 {
    text-align: center;
    color: #0B1949;
}

.approval_down .process{
  max-width: 336px;
  height: 60px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  background-color: white;
  overflow: hidden;
  margin-top: 50px;
}

.process_name {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    overflow: hidden;
}

.process_name .submission_name, .process_name .assessment_name{
  margin-right: 50px;
}

.process_name .settlement_name{
  color:#B5B5B5;
}

.process span{
  height: 60px;
}


.submission::after, .assessment::after {
    content: '';
    width: 100px;;
    height: 5px;
    position: absolute;
    top: 50%;
    border: 1px solid #B5B5B5;
    background: #B5B5B5;
}


.submission i.done{
   color: #FFF136;
}

.assessment i.done{
   color: #F38671;
}

.settlement i.done{
  color: green;
}

.submission i{
  color: #B5B5B5;
}

.assessment i{
  color: #B5B5B5;
  margin-left: 95px;
}

.settlement i{
  color: #B5B5B5;
  margin-left: 95px;
}

.process_name .submission_name, .process_name .assessment_name{
  margin-right: 50px;
}

.process_name .submission_name, .process_name .assessment_name, .process_name .settlement_name{
  color:#B5B5B5;
}

.submission_name.done, .assessment_name.done, .settlement_name.done{
  color: #0B1949;
}

/*timeline*/
.vertical_progress{
  padding-left: 100px;
  position: relative;
  margin-top: 40px;
}

.timeline{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  border-left: 3px solid #B5B5B5;
  height: 500px;
}

.timeline li{
  padding-top: 5px;
  padding-bottom: 5px;
  list-style-type:none;
  vertical-align: middle;
}

.timeline li div, .timeline li span {
    display: inline-block;
}

.timeline li div.circle.canEdit:hover{
  border-color: #3D9EDC;
  width: 18px;
  height: 18px;
}

.timeline li .num {
    width: 18px;
    height: 18px;
    background-color: #41A0DA;
    color: white;
    text-align: center;
    border-radius: 50%;
}

.subm1 div {
    width: 14px;
    height: 14px;
    border: 2px solid #B5B5B5;
    border-radius: 50%;
    background-color: #B5B5B5;
}

.subm2 div, .subm3 div, .subm4 div{
  width: 14px;
  height: 14px;
  border: 2px solid #B5B5B5;
  border-radius: 50%;
  background-color: white;
}

.subm2 div.done, .subm3 div.done, .subm4 div.done {
    background-color: #FFF136;
}

.assess2 div, .assess3 div, .assess4 div, .assess5 div, .assess6 div, .assess7 div{
  width: 14px;
  height: 14px;
  border: 2px solid #B5B5B5;
  border-radius: 50%;
  background-color: white;
}

.assess2 div.done, .assess3 div.done, .assess4 div.done, .assess5 div.done, .assess6 div.done, .assess7 div.done{
  background-color: #F06D54;
}

.sett2 div, .sett3 div, .sett4 div{
  width: 14px;
  height: 14px;
  border: 2px solid #B5B5B5;
  border-radius: 50%;
  background-color: white;
}

.sett2 div.done, .sett3 div.done, .sett4 div.done{
  background-color: green;
}

.stage_name{
  color:#B6B6B6;
}

.timeline strong{
  font-size: 1.5em;
}

.assess1, .sett1{
  margin-top: 20px;
}

.timeline li div{
  margin-right: 20px;
}

li.subm1{
  margin-left: -48.5px;
  padding: 0;
}

.timeline .time {
    box-sizing: border-box;
    width: 140px;
    color: #B5B5B5;
}

li.subm2, li.subm3, li.subm4,
li.assess2, li.assess3, li.assess4, li.assess5, li.assess6, li.assess7,
li.sett2, li.sett3, li.sett4 {
    margin-left: -192px;
}

.timeline .subm1 {
    position: absolute;
    top: -10px;
}

.timeline .subm2 {
    position: absolute;
    top: 20px;
}

.timeline .subm3 {
    position: absolute;
    top: 50px;
}

.timeline .subm4 {
    position: absolute;
    top: 80px;
}

.timeline li.assess1 {
    position: absolute;
    top: 120px;
}

.timeline .assess2 {
    position: absolute;
    top: 180px;
}

.timeline .assess3 {
    position: absolute;
    top: 210px;
}

.timeline .assess4 {
    position: absolute;
    top: 240px;
}

.timeline .assess5{
  position: absolute;
  top:270px;
}

.timeline .assess6 {
    position: absolute;
    top: 300px;
}

.timeline .assess7{
  position: absolute;
  top:330px;
}

.timeline li.sett1 {
    position: absolute;
    bottom: 80px;

}

.timeline .sett2 {
    position: absolute;
    bottom: 50px;
}

.timeline .sett3{
  position: absolute;
  bottom: 20px;
}

.timeline .sett4 {
    position: absolute;
    bottom: -10px;
}

.approval_down_right {
    height: 850px;
    box-sizing: border-box;
    display: inline-block;
    width: 49%;
    float: left;
    margin-left: 2%;
    overflow: hidden;
    box-shadow: 2px 5px 4px #E8EAEB;
}

.document_control {
    width: 100%;
}

.upload_doc, .download_doc{
  width: 48%;
  display: inline-block;
  float: left;
  height: 30px;
  background-color: white;
  box-shadow: 2px 5px 4px #E8EAEB;
  font-size: 13px;
  padding-top: 5px;
  padding-left: 10px;
}

.download_doc{
  margin-left: 4%;
}

.upload_doc span, .download_doc span {
    display: inline-block;
    text-align: center;
}

.upload_doc .doc, .download_doc .doc {
    border-left: 2px solid #B5B5B5;
    margin-left: 10px;
    width: 85%;
}

.message_part {
    /*padding-top: 20px;*/
    margin-top: 20px;
    width: 100%;
    height: 100%;
    background-color: white;
    box-shadow: 2px 5px 4px #E8EAEB;
    position: relative;
}

/*.message_up {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.message_up .title{
  padding: 10px;
  background-color: #717171;
  color: white;
}

.message_up .para {
    padding: 10px;
    background-color: #D8D8D8;
    color: black;
}*/

.message_list {
    width: 100%;
    position: absolute;
    bottom: 10%;
    left: 0;
}
.message_wrap{
    overflow:scroll;
    overflow-x:hidden;
    height:600px;
}

.message_wrap .scroll_container{
}

.message hr {
    margin: 10px 0px 10px 0px;
}

.commenter {
    max-width:140px;
}

.commenter {
    width: 100%;
    text-align: center;
    display: inline-block;
}

.commenter_img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.comment {
    width: 70%;
    height: 100px;
    margin-right:0px;
    float: right;
    background-color: #41A0DA;
    display: inline-block;
    color: white;
    padding: 10px 0 0 10px;
    position: relative;
}

.comment .triangle{
  color: #41A0DA;
  position: absolute;
  top: 8px;
  left: -14px;
}

.comment_title {
    padding-left:15px;
    margin-bottom: 10px;
    color: rgb(180, 180, 180);
}

.commenter_leave {
    margin-top: 10px;
}

.comment_form {
    width:72%;
    height: 100px;
    float: right;
    display: inline-block;
    color: black;
    position: relative;
    text-align: right;
}

.comment_form .comment_input{
 width: 100%;
 height: 70px;
 border: 2px solid #41A0DA;
 margin-bottom: 5px;
}

.cancelBtn, .commentBtn {
    width: 100px;
    margin-left: 10px;
    border: 0;
    margin-right: 5px;
}

.cancelBtn{
  background-color: rgb(225, 225, 225);
}

.commentBtn {
    background-color: rgb(61, 158, 220);
    color: white;
}
