
.personal_detail{
  margin-top: 40px;
  width: 80%;
  background-color: white;
  margin-left: 5%;
  padding-bottom: 40px;
  box-shadow: 2px 5px 4px #E8EAEB;
  vertical-align: middle;
}

.personal_detail form{
  padding-top: 30px;
  padding-bottom: 50px;
  position: relative;
}

.personal_detail label{
  width: 150px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.personal_detail input{
  width: 220px;
  height: 33px;
  display: inline-block;
}

.personal_detail button.saveBtn{
  position: absolute;
  background-color:rgb(61,158,220);
  color: white;
  border: 0;
  float: right;
  bottom: 5px;
  right: 50px;
}

.personal_detail h3{
  margin: 0;
  height: 70px;
  background-color: #273543;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 25px;
}

.person_line1, .person_line2{
  height: 33px;
}

.person_line1 label, .person_line2 label{
   padding-top: 5px;
}

.person_line1 label, .person_line1 input, .person_line1 .selection_role{
  display: inline-block;
  float: left;
}

.selection_role{
  width:220px;
  margin-left: -4px;
}

.person_line2 label, .person_line2 input{
  display: inline-block;
  float: left;
}
