/*my css*/
/* side bar*/
.left_bar ul li.job-bar {
    background-color: #677583;
}

li.job-bar i, li.job-bar span.bar_name{
  color: white !important;
}

/*========================*/
.personal_detail, .product{
  margin-top: 40px;
  width: 80%;
  background-color: white;
  margin-left: 5%;
  padding-bottom: 40px;
  box-shadow: 2px 5px 4px #E8EAEB;
}

.personal_detail form, .product form{
  padding-top: 30px;
}

.personal_detail label, .product label{
  width: 150px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.personal_detail label.prefer{
  width: 120px;
  margin-left: 30px;
}


.personal_detail input, .product input{
  width: 220px;
  height: 33px;
  display: inline-block;
}


.personal_detail .email_search{
  vertical-align: middle;
  height: 35px;
}

.personal_detail .email_search label{
  margin-bottom: 0px;
  display: inline-block;
  float: left;
  margin-top: 5px;
}

.personal_detail .email_input{
  display: inline-block;
  width: 400px;
  float: left;
}

.personal_detail .email_input input{
  width: 400px;
}

.product .broker_input, .product .bank_input{
  display: inline-block;
}

.product_line1, .product_line2, .product_line3, .product_line4{
  height: 33px;
}

.product_line4{
  margin-top: 10px;
}

.product_line1 label, .product_line1 .type_input, .product_line1 .file_input{
  display: inline-block;
  float: left;
}

.product_line2 label, .product_line2 input, .product_line2 .broker_input{
  display: inline-block;
  float: left;
}

.product_line3 label, .product_line3 .purpose_input, .product_line3 input{
  display: inline-block;
  float: left;
}

.product_line4 label, .product_line4 input, .product_line4 .bank_input{
  display: inline-block;
  float: left;
}

.product_line1 label, .product_line2 label, .product_line3 label, .product_line4 label{
  margin-top: 5px;
}

.product_line3 textarea{
  width: 220px;
  border: 1px solid #CCCCCC;
  border-radius: 4px;
  outline: none;
}

.product button.saveBtn{
  background-color:rgb(61,158,220);
  color: white;
  border: 0;
  float: right;
  margin-right: 50px;
}

.personal_detail h3, .product h3{
  margin: 0;
}

.personal_detail h3, .product h3{
  height: 70px;
  background-color: #273543;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 25px;
}
