
.personal_detail{
  margin-top: 40px;
  width: 80%;
  background-color: white;
  margin-left: 5%;
  padding-bottom: 40px;
  box-shadow: 2px 5px 4px #E8EAEB;
  vertical-align: middle;
}

.personal_detail form{
  padding-top: 30px;
}

.personal_detail label{
  width: 150px;
  text-align: right;
  margin-right: 20px;
  margin-bottom: 20px;
}

.personal_detail input{
  width: 220px;
  height: 33px;
}

.personal_detail button.saveBtn{
  width: 100px;
  background-color:rgb(61,158,220);
  color: white;
  border: 0;
  float: right;
  margin-right: 50px;
}

.personal_detail h3{
  margin: 0;
  height: 70px;
  background-color: #273543;
  color: white;
  font-size: 20px;
  padding-left: 30px;
  padding-top: 25px;
}
