
/*my css*/
/* side bar*/
.left_bar ul li.job-bar{
  background-color: #677583;
}

li.job-bar i, li.job-bar span.bar_name{
  color: white !important;
}
/*right part css*/

.tool_bar{
  width: 100%;
  background-color: #FFFFFF;
  padding-top: 20px;
  position: relative;
}

.tool_top{
  height: 50px;
  padding-left: 50px;
  vertical-align: middle;
}

.tool_top h3, .tool_top button{
  display: inline-block;
}
.tool_top h3{
  float: left;
  margin-top: 0;
}

.tool_top button{
  position: absolute;
  right: 50px;
  /*top:20px;*/
  height: 35px;
  width: 200px;
  border: 0;
  border-radius: 10px;
  background-color: #F0662C;
  color: white;
}

.tool_bar_above{
  vertical-align: middle;
  height: 60px;
}

.search_input{
  width: 300px;
  margin-left: 50px;
  float: left;
  height: 50px;
}

.status{
  display: inline-block;
  float: left;
  margin-left: 10px;
}

.statusInput button{
 color:  #AEAEAE;
}

.statusInput button:focus{
  outline: none ;
}

.statusInput button.selected{
  background-color: #F0662C;
  color: white;
}

.select_date{
  width: 150px !important;
  display: inline-block;
}

.select_page{
  width:60px !important;
  display: inline-block !important;
  float: right !important;
}

.select_page>ul.dropdown-menu{
  min-width: inherit;
}

.page {
  width: 200px;
  display: inline-block;
  float: right;
  height: 20px;
}

.pager{
  margin: 0;
}

.pager li a{
  color: #4F4F4F;
}

.tool_bar_middle{
  height: 80px;
  /*display: none;*/
  transition: 1s;
}

.tool_bar_middle hr{
  margin: 0px;
}

.bank{
  display: inline-block;
  float: left;
  margin-left: 25px;
  width: 150px;
}

.bank label{
  margin-top: 5px;
}

.bank .bank_input{
  display: inline-block !important;
  width: 100px !important;
  float: right !important;
}

.tool_bar_middle .settle_date{
  color:#AEAEAE;
  padding-left: 130px;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 5px;
}

.start_date{
  display: inline-block;
  float: left;
  margin-left: 50px;
}

.close_date{
  display: inline-block;
  float: left;
  margin-left: 10px;
}

.start_date input, .close_date input{
  width: 100px;
}

.tool_bar_above label, .tool_bar_middle label, .tool_bar_below label{
  color:#AEAEAE;
}

/*.tool_bar_below {
  height: 80px;
  display: none;
  transition: 1s;
}*/

/*.show_block{
  display: block;
}*/

/*.tool_bar_below hr{
  margin-top: 0;
}*/

.broker{
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.broker label, .admin label{
  margin-top: 5px;
}

.broker_input, .admin_input{
  width: 160px !important;
  margin-left: 10px;
}

.admin{
  display: inline-block;
  float: left;
  margin-left: 20px;
}

/*.showBtn{
  color:#AEAEAE;
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 5px;
}*/

/*=========================*/
/*.content table{
  border: 0;
}

.content .item{
  width: 80%;
  height: 130px;
  margin-left: 50px;
  border-left-width: 15px;
  background-color: #FFFFFF;
  margin-top: 20px;
  box-shadow: 4px 6px 5px #E8EAEB;
}

.item .side_light{
  display: inline-block;
  width: 10px;
  height: 100%;
  float: left;
}

.green{
  background-color:#7cc576;
}
.red{
  background-color:#ed1c24;
}
.orange{
  background-color:#f68e56;
}

.content img{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-top: 40px;
  margin-left: 50px;
  float: left;
}

.content .intro{
  display: inline-block;
  float: left;
  height: 80px;
  margin-left: 30px;
  margin-top: 30px;
  width: 150px;
}

.content h4{
  color: black;
}

.content section{
  color: #3D9EDC;
}

.content table{
  table-layout: fixed;
  display: inline-block;
  float: left;
  margin-left: 50px;
  margin-top: 25px;
}

table th{
  padding-right: 10px;
  width: 120px;
  box-sizing: border-box;
  text-align: right;
  color: #AEAEAE;
}
table td{
  width: 120px;
  box-sizing: border-box;
  text-align: left;
  color: #494C52;
  overflow: hidden;
}

td.special_note div{
  width:120px;
  overflow: hidden;
  text-overflow:ellipsis;
  height: 20px;
}*/
/*===================*/
.job_list {
  margin: 20px;
  background: white;
  overflow: hidden;
  padding-bottom: 50px;
  position: relative;
  /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
  box-shadow: 0 0 8px #D1D3D3;
}

.job_list table{
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

.job_list table th i{
  cursor:pointer;
}

.job_list table th.selected{
  color: #F0662C;
}

.job_list table th, .job_list table td{
  outline: none;
  text-align: left;
  padding: 15px 0px 15px 10px;
  border-bottom: 1px solid #D0D4D9;
  box-sizing: border-box;
  font-size: 14px;
  font-family: "Montserrat", sans-serif !important;
}

.job_list table th{
  padding-top:20px !important;
  padding-bottom:20px !important;
  color: #B9BDC3;
  font-weight: 500;
}

.job_list table td{
  font-weight: 300;
  color: #41464D;
}

.job_list table img{
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid #d0d4d9;
  overflow: hidden;
}

.job_list table tbody tr:hover{
  background-color: #F2F3F4;
}

.job_list .page_num{
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: #B9BDC3;
}
