/*nav css*/
html, body, #main_content{
  height: 100%;
  width:100%;
}
input.disable{
  background-color: white;
}

/*=========fix the width of div.width_fix inside div.right_part==============*/
.width_fix{
  max-width: 1200px;
}
/*=======================*/
.nav_bar{
  background-color: #3D9EDC;
  width: 100%;
  height: 70px;
}

*{
  outline:none;
}

.select_page>ul.dropdown-menu{
  min-width: inherit;
}

a:hover,a:visited,a:link,a:active{
  text-decoration:none;

}

[scroll-glue-top],
[scroll-glue-bottom],
[scroll-glue]{
  height: 100px;
  overflow-y: scroll;
}

[scroll-glue-left],
[scroll-glue-right]{
  width: 100px;
  overflow-x: scroll;
  padding: 10px;
}

.nav_bar .brand{
  width: 10%;
  height: inherit;
  text-align: center;
  vertical-align: middle;
  font-size: 20px;
  padding-top: 20px;
  padding-left: 10px;
  color: #EFF6FB;
  display: inline-block;
}

.bell{
  text-align: right;
  padding-right: 15px;
  vertical-align: middle;
  padding-top: 25px;
  background: #3D9EDC;
  width: 80px;
  height: inherit;
  display: inline-block;
  float: right;
  position: relative;
}

.bell .num{
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: rgb(237,28,36);
  color: white;
  overflow: hidden;
  font-size: 10px;
  font-weight: bold;
  text-align: center;
  top:25px;
  right: 12px;
}

.bell .fa-bell{
  color: #EFF6FB;
  cursor: pointer;
}

.bell .notify{
  height: 0;
  overflow: hidden;
  box-sizing: padding-box;
  position: absolute;
  width: 300px;
  top: 70px;
  z-index: 2;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  transition: 0.1s;
  border: 1px solid #F9F9F9;
}

.bell div.notify.show{
  height: auto;
  padding: 5px 0px 30px 0px;
  transition: 0.1s;
}

.notify .notes_list{
  width: 100%;
  overflow: hidden;
}

.notes_list .note{
  width: 100%;
  overflow: hidden;
  background-color: #FFFFFF;
  height: 80px;
  border-bottom: 1px solid #E1E1E1;
  box-sizing: border-box;
  cursor: pointer;
}

.notes_list .note:hover{
  background-color: #E1F3FD;
}

.notes_list .note .note_img, .notes_list .note .note_info{
  padding-top: 10px;
  height: 68px;
  display: inline-block;
  float: left;
  text-align: left;
}

.notes_list .note .note_img{
  width:70px;
}

.note .note_info .note_sender{
  color:#2C92C0;
}

.note .note_info .note_message, .note .note_info .note_time{
  color:#2B3745;
}

.notes_list .note .note_img img{
  border: 1px solid #DEDEDE;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  display: block;
  width:50px;
  height:50px;
  border-radius: 50px;
  background-color: black;
}

/*.notify .notes_list tr{
  border-bottom: 1px solid #CCCCCC;
}*/

.notify .more_notes{
  position: absolute;
  bottom: 5px;
  right: 10px;
}

.notify .more_notes a{
  color: #3084A6;
  text-decoration: none;
}

.notify .more_notes a:hover{
  cursor: pointer;
}


.dropdownl{
  padding-top: 15px;
  text-align: center;
  background: #0072BC;
  width: 250px;
  height: inherit;
  display: inline-block;
  float: right;
  position: relative;
}

.dropdownl img{
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  margin-left: 30px;
  float: left;
}

.dropdown-content a{
  color: #006DB4 !important;
}

.dropbtn {
    padding-top: 10px !important;
    padding-bottom: 22px !important;
    background-color: #0072BC;
    color: #EFF6FB;
    padding: 16px 16px 16px 0;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content hr{
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdownl:hover .dropdown-content {
    display: block;
    z-index: 2;
}

.dropdownl:hover .dropbtn {
    background-color: #0072BC;
}


/*left bar css*/

.main{
  width: 100%;
  height: 3000px;
  background-color: white;
  overflow: hidden;
  padding-bottom: 10px;

}

.left_bar{
  display: inline-block;
  float: left;
  background-color: #2B3745;
  height:100%;
  position: relative;
  overflow: hidden;
  width: 13%;
}

.left_bar ul{
  width:100%;
  padding:0;
  margin: 0;
}

.left_bar ul li{
  box-sizing: border-box;
  width: 100%;
  display: block;
  height: 40px;
  text-decoration: none;
  color: #AAAAAB;
  vertical-align: middle;
  padding-left: 25%;
  padding-top: 15px;
}

.left_bar ul li span{
  display: block;
}

.left_bar ul li span.bar_name{
  display: inline;
  margin-left: 10px;
  transition: 0.5s;
}

.left_bar ul li:hover{
  color: white;
  background-color: #677583;
  cursor: pointer;
}

.left_bar ul a:hover{
  text-decoration: none;
  color: white;
}

/*.left_bar ul li a{
  color:#AAAAAB;
  margin-left: 10px;
  transition: 0.5s;
}*/

.left_arrow{
  position:absolute;
  top: 20%;
  right: 20px;
  cursor: pointer;
}

.left_arrow:hover i{
  color:white;
}

.left_arrow i{
  color: #AAAAAB;
}

.right_part{
  display: inline-block;
  float: left;
  background-color: #F3F5F7;
  height: 100%;
  position: relative;
  padding-bottom: 10px;
  width: 87%;
}

.unread{
  font-weight:bold;
}

body input, body button{
  outline: none;
}

input[disabled]{
  background-color:white;
}
