/*my css*/
/* side bar*/
.left_bar ul li.user-bar{
  background-color: #677583;
}

li.user-bar i, li.user-bar a{
  color: white !important;
}

/*=======================*/
.tool_bar{
  width: 100%;
  background-color: #FFFFFF;
  position: relative;
}

.tool_top{
  height: 80px;
  padding-left: 50px;
}

.tool_top h3, .tool_top button{
  display: inline-block;
}
.tool_top h3{
  float: left;
}

.tool_top button{
  position: absolute;
  right: 50px;
  top:20px;
  height: 35px;
  width: 200px;
  border: 0;
  border-radius: 10px;
  background-color: #F0662C;
  color: white;
}

.tool_bar_above{
  vertical-align: middle;
  height: 50px;
}

.search_input{
  width: 300px;
  margin-left: 50px;
  float: left;
  height: 50px;
}

.input-group-addon{
  background-color: #FFFFFF;
}

.sortBy{
  margin-left: 100px;
  width: 300px;
  display: inline-block;
  float: left;
}

.sortBy label{
  color:#AEAEAE;
}

.select_date{
  width: 150px !important;
}

.select_page{
  width:60px !important;
  display: inline-block !important;
  float: right !important;
}

.page {
  width: 200px;
  display: inline-block;
  float: right;
  height: 20px;
}

.pager{
  margin: 0;
}

.pager li a{
  color: #4F4F4F;
}

#user{
  width: 100%;
  margin-top: 20px;
}

.user_list {
  width: 80%;
  background-color: white;
  margin-left: 41px;
  padding-top: 30px;
  position: relative;
}

#user table{
  width: 100%;
}

#user table th, #user table td{
  width: 20%;
  text-align: left;
  padding: 10px 0px 10px 20px;
  border-bottom-width: 1px;
  border-bottom-color: #F4F5F7;
  border-bottom-style: solid;
  box-sizing: border-box;
}

#user table td{
  font-size: 18px;
}

#user .page_message p{
  color: #2C2F37;
  position: absolute;
  left: 4%;
  bottom: 10px;
}

#user .user_list img{
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

#user table a,#user table a:hover {
  color: black;
}
