<div class="brand">Antloans</div>

<div class="dropdownl">
    <img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">
    <button class="dropbtn">Adam Hunt <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
    <div class="dropdown-content">
        <a ui-sref="user-profile">Profile</a>
        <hr>
        <a href="#">Setting</a>
        <hr>
        <a ui-sref="login">Log out</a>
    </div>
</div>

<div class="bell">
    <i class="fa fa-bell fa-lg" aria-hidden="true"><span class='num'>1</span></i>
</div>
