<div class="brand">Antloans</div>

<div class="dropdownl" ng-controller="navBarCtrl">
    <img ng-if = "user.avatar" ng-src="{{user.avatar}}" alt="">
    <img ng-if = "!user.avatar" ng-src="{{default_img_url}}" alt="">
    <button class="dropbtn">{{user.first_name}} {{user.last_name}}</button>
    <div class="dropdown-content">
        <a ui-sref="user-profile">Profile</a>
        <hr>
        <!--<a href="#">Setting</a>
        <hr>-->
        <a href="javascript:;" ng-click="logout()">Log out</a>
    </div>
</div>

<div class="bell">
    <i  data-status="close" class="fa fa-bell fa-lg" aria-hidden="true"><span class='num'>1</span></i>

    <div class="notify">
      <table class="notes_list">
         <tr>
           <th>more</th>
           <th>name</th>
           <th>time</th>
           <th>action</th>
         </tr>
         <tr>
           <td><span class="more"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></span></td>
           <td>tom</td>
           <td>10:30am</td>
           <td>change sth</td>
         </tr>
         <tr>
           <td><span class="more"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></span></td>
           <td>mary</td>
           <td>10:30am</td>
           <td>change sth</td>
         </tr>
         <tr>
           <td><span class="more"><i class="fa fa-info-circle fa-lg" aria-hidden="true"></i></span></td>
           <td>jake</td>
           <td>10:30am</td>
           <td>change sth</td>
         </tr>
      </table>
      <span class="more_notes"><i class="fa fa-ellipsis-h fa-2x" aria-hidden="true"></i></span>
    </div>

    <div class="note_details">
         <span class="back"><i class="fa fa-times fa-lg" aria-hidden="true"></i></span>
         <h3>note details</h3>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
           sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
           Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
           nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
           in reprehenderit in voluptate velit esse cillum dolore eu fugiat
           nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt
           in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
</div>
