<div class="brand">Antloans</div>

<div class="dropdownl" ng-controller="navBarCtrl">
    <img ng-if = "user.avatar" ng-src="{{user.avatar}}" alt="">
    <img ng-if = "!user.avatar" ng-src="{{default_img_url}}" alt="">
    <button class="dropbtn">{{user.first_name}} {{user.last_name}}</button>
    <div class="dropdown-content">
        <a ui-sref="user-profile">Profile</a>
        <hr>
        <!--<a href="#">Setting</a>
        <hr>-->
        <a href="javascript:;" ng-click="logout()">Log out</a>
    </div>
</div>

<div class="bell" ng-controller="notificationListCtrl">
    <i  data-status="close" class="fa fa-bell fa-lg" aria-hidden="true"><span class='num' ng-if="alert.unread_num > 0">{{alert.unread_num}}</span></i>

    <div class="notify">
      <div class="notes_list">

         <div class="note" ng-repeat="item in alert.notifications | limitTo:3" ng-click="toNote(item.notification_id)">
            <div class="note_img">
                <img ng-if="item.sender_avatar" ng-src="{{item.sender_avatar}}" alt="">
                <img ng-if="!item.sender_avatar" ng-src="{{default_img_url}}" alt="">
            </div>
            <div class="note_info">
                <div class="note_message">Has {{item.message}}</div>
                <div class="note_sender"><strong>{{item.sender_name}}</strong></div>
                <div class="note_time">10:30am</div>
            </div>
         </div>
      </div>
      <span class="more_notes"><a ui-sref="notification">See more</a></span>
    </div>

</div>
