<ul>
    <a ui-sref="job-list"><li class='job-bar'><span><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i><span class="bar_name">JOB LIST</span></span></li></a>
    <a ui-sref="documents"><li class='doc-bar'><span><i class="fa fa-file-text fa-lg" aria-hidden="true"></i><span class="bar_name">DOCUMENT</span></span></li></a>
    <a ui-sref="users"><li class='user-bar'><span><i class="fa fa-user fa-lg" aria-hidden="true"></i><span class="bar_name">USER</span></span></li></a>
    <!--<a ui-sref=""><li class='set-bar'><span><i class="fa fa-cog fa-lg" aria-hidden="true"></i><span class="bar_name">SETTING</span></span></li></a>-->
    <a ui-sref="reports"><li class='report-bar'><span><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i><span class="bar_name">REPORT</span></span></li></a>
    <a ui-sref="settle"><li class='settle-bar'><span><i class="fa fa-check fa-lg" aria-hidden="true"></i><span class="bar_name">SETTLED</span></span></li></a>
    <a ui-sref="blog"><li class='blog-bar'><span><i class="fa fa-th-large fa-lg" aria-hidden="true"></i><span class="bar_name">BLOG</span></span></li></a>
</ul>

<div class="left_arrow"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></div>
