<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>conditional approval</title>
    <!--my css-->
    <link rel="stylesheet" href="../styles/conditional-approval.css">
</head>

<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">
        <div class="width_fix">

            <div class="approval_up">
            <span id="jobEditBtn" ng-click="jobEdit()"><i class="fa fa-pencil-square-o fa-2x"
                                                          aria-hidden="true"></i></span>
                <label>Client</label>
                <hr>
                <table class="job_show">
                    <tr>
                        <th>first name</th>
                        <td><input type="text" class="disable" ng-model="job.first_name" disabled></td>
                        <th>last name</th>
                        <td><input type="text" class="disable" ng-model="job.last_name" disabled></td>
                    </tr>
                    <tr>
                        <th>mobile</th>
                        <td><input type="text" class="disable" ng-model="job.mobile" disabled></td>
                        <th>phone</th>
                        <td><input type="text" class="disable" ng-model="job.phone" disabled></td>
                    </tr>
                    <tr>
                        <th>email</th>
                        <td><input type="text" class="disable" ng-model="job.email" disabled></td>
                        <th>residential address</th>
                        <td><input type="text" class="disable" ng-model="job.address" disabled></td>
                    </tr>
                    <tr>
                        <th>prefered time</th>
                        <td><input type="text" class="disable" ng-model="job.preferred_time" disabled></td>
                        <th>prefered method</th>
                        <td><input type="text" class="disable" ng-model="job.preferred_method" disabled></td>
                    </tr>
                    <tr>
                      <th>date of birth</th>
                      <td><input type="text" class="disable" ng-model="job.client_date_of_birth" disabled></td>
                    </tr>
                </table>
                <label>Loan</label>
                <hr>
                <table class="loan_show">
                    <tr>
                        <th>loan amount</th>
                        <td><input type="number" class="disable" ng-model="job.loan_amount" disabled=""></td>
                        <th>loan purpose</th>
                        <td>
                            <input ng-if="!edit" type="text" class="disable" ng-model="job.loan_purpose.label" disabled>
                            <ui-select ng-if="edit" ng-model="job.loan_purpose" search-enabled="false"
                                       class="selectpicker select_page"
                                       onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.label"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in loan_purpose track by $index">
                                    <span ng-bind="item.label"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>
                    </tr>
                    <tr>
                        <th>repayment type</th>
                        <td>
                            <input ng-if="!edit" type="text" class="disable" ng-model="job.repayment_type.label"
                                   disabled>
                            <ui-select ng-if="edit" ng-model="job.repayment_type" search-enabled="false"
                                       class="selectpicker select_page"
                                       onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.label"></span>
                                </ui-select-match>
                                <ui-select-choices repeat="item in repayment_type track by $index">
                                    <span ng-bind="item.label"></span>
                                </ui-select-choices>
                            </ui-select>
                        </td>

                        <th>loan type</th>
                        <td>
                          <input ng-if="!edit" type="text" class="disable" ng-model="job.loan_type.label"
                                 disabled>
                          <ui-select ng-if="edit" ng-model="job.loan_type" search-enabled="false" class="type_input selectpicker select_page"
                                     onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                              <ui-select-match>
                                  <span ng-bind="$select.selected.label"></span>
                              </ui-select-match>
                              <ui-select-choices repeat="item in loan_type track by $index">
                                  <span ng-bind="item.label"></span>
                              </ui-select-choices>
                          </ui-select>
                        </td>
                    </tr>
                    <tr>
                       <th>lender</th>
                       <td><input ng-if="!edit" type="text" class="disable" ng-model="job.bank.name" disabled>
                           <ui-select ng-if="edit" ng-model="job.bank" search-enabled="false" class="bank_input selectpicker select_page"
                                      onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                               <ui-select-match>
                                   <span ng-bind="$select.selected.name"></span>
                               </ui-select-match>
                               <ui-select-choices repeat="item in banks track by $index">
                                   <span ng-bind="item.name"></span>
                               </ui-select-choices>
                           </ui-select>
                       </td>
                       <th>settlement date</th>
                       <td>
                           <span ng-if="!edit" type="text" class="disable set">{{job.settlement_date | date:'MM/dd/yyyy'}}</span>
                         <input ng-if="edit" class="btn btn-default" ui-date="dateOptions" ng-model="job.settlement_date">
                       </td>
                    </tr>

                    <tr>
                        <th>special notes</th>
                        <td colspan="3"><input class="disable special_note" type="text" ng-model="job.special_note"
                                               disabled></td>
                    </tr>
                </table>
                <button class="saveBtn01 btn btn-default btn-sm" type="button" name="button" ng-click="updateJob()">SAVE</button>
            </div>

            <div class="approval_middle">

                <!-- the first one   -->
                <div class="user_contact">
                    <span class="user_plus" ng-if="selection[2] == 'origin'" ng-click="showUser(2)">
                    <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
                </span>
                    <div class="clear"></div>

                    <ui-select ng-model="user[2].selected" class="select_input selectpicker select_page"
                               ng-if="selection[2] == 'select'"
                               on-select="showUserInfo(2,'broker',user[2].selected.user_id)">
                        <ui-select-match>
                            <span ng-bind="$select.selected.first_name +' '+$select.selected.last_name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in brokers | propsFilter:{first_name:$select.search,last_name:$select.search,role:$select.search} track by $index">
                            <strong><span ng-bind="item.first_name"></span> <span
                                    ng-bind="item.last_name"></span></strong><br>
                            <span ng-bind="item.role"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="contact_up" ng-if="selection[2] == 'selected'">
                        <span class="userEditBtn" ng-click="editUser(2)"><i class="fa fa-pencil-square-o fa-2x"
                                                                            aria-hidden="true"></i></span>
                        <img ng-if="user[2].selected.avatar" ng-src="{{user[2].selected.avatar}}" alt="">
                        <img ng-if="!user[2].selected.avatar" ng-src="{{default_img_url}}" alt="">
                        <div class="user_intro">
                            <h4>{{user[2].selected.first_name}} {{user[2].selected.last_name}}</h4>
                            <p>{{user[2].selected.address}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="contact_down" ng-if="selection[2] == 'selected'">
                        <span><i class="fa fa-phone fa-lg" aria-hidden="true"></i>&nbsp; {{user[2].selected.phone || user[2].selected.mobile || 'no phone number now'}}</span><br>
                        <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp; <a
                                href="mailto:{{user[2].selected.email}}">{{user[2].selected.email || 'no email now'}}</a></span>
                    </div>
                    <div class="contact_up" ng-if="selection[2] == 'settled'">
                        <span class="userEditBtn" ng-click="editUser(2)"><i class="fa fa-pencil-square-o fa-2x"
                                                                            aria-hidden="true"></i></span>
                        <img ng-if="job.broker.avatar" ng-src="{{job.broker.avatar}}" alt="">
                        <img ng-if="!job.broker.avatar" ng-src="{{default_img_url}}" alt="">
                        <div class="user_intro">
                            <h4>{{job.broker.first_name}} {{job.broker.last_name}}</h4>
                            <p>{{job.broker.address}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="contact_down" ng-if="selection[2] == 'settled'">
                        <span><i class="fa fa-phone fa-lg" aria-hidden="true"></i>&nbsp; {{job.broker.phone || job.broker.mobile || 'no phone number now'}}</span><br>
                        <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp; <a
                                href="mailto:{{job.broker.email}}">{{job.broker.email || 'no email now'}}</a></span>
                    </div>
                    <div class="clear"></div>
                </div>

                <!-- the second one   -->

                <div class="user_contact ">
                <span class="user_plus" ng-if="selection[0] == 'origin'" ng-click="showUser(0)">
                    <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
                </span>
                    <div class="clear"></div>

                    <ui-select ng-model="user[0].selected" class="select_input selectpicker select_page"
                               ng-if="selection[0] == 'select'"
                               on-select="showUserInfo(0,'admin',user[0].selected.user_id)">
                        <ui-select-match>
                            <span ng-bind="$select.selected.first_name +' '+$select.selected.last_name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in admins | propsFilter:{first_name:$select.search,last_name:$select.search,role:$select.search} track by $index">
                            <strong><span ng-bind="item.first_name"></span> <span
                                    ng-bind="item.last_name"></span></strong><br>
                            <span ng-bind="item.role"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="contact_up" ng-if="selection[0] == 'selected'">
                        <span class="userEditBtn" ng-click="editUser(0)"><i class="fa fa-pencil-square-o fa-2x"
                                                                            aria-hidden="true"></i></span>
                        <img ng-if="user[0].selected.avatar" ng-src="{{user[0].selected.avatar}}" alt="">
                        <img ng-if="!user[0].selected.avatar" ng-src="{{default_img_url}}" alt="">
                        <div class="user_intro">
                            <h4>{{user[0].selected.first_name}} {{user[0].selected.last_name}}</h4>
                            <p>{{user[0].selected.address}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="contact_down" ng-if="selection[0] == 'selected'">
                        <span><i class="fa fa-phone fa-lg" aria-hidden="true"></i>&nbsp; {{user[0].selected.phone || user[0].selected.mobile || 'no phone number now'}}</span><br>
                        <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp; <a
                                href="mailto:{{user[0].selected.email}}">{{user[0].selected.email || 'no email now'}}</a></span>
                    </div>
                    <div class="contact_up" ng-if="selection[0] == 'settled'">
                        <span class="userEditBtn" ng-click="editUser(0)"><i class="fa fa-pencil-square-o fa-2x"
                                                                            aria-hidden="true"></i></span>
                        <img ng-if="job.admin.avatar" ng-src="{{job.admin.avatar}}" alt="">
                        <img ng-if="!job.admin.avatar" ng-src="{{default_img_url}}" alt="">
                        <div class="user_intro">
                            <h4>{{job.admin.first_name}} {{job.admin.last_name}}</h4>
                            <p>{{job.admin.address}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="contact_down" ng-if="selection[0] == 'settled'">
                        <span><i class="fa fa-phone fa-lg" aria-hidden="true"></i>&nbsp; {{job.admin.phone || job.admin.mobile || 'no phone number now'}}</span><br>
                        <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp; <a
                                href="mailto:{{job.admin.email}}">{{job.admin.email || 'no email now'}}</a></span>
                    </div>
                    <div class="clear"></div>
                </div>

                <!-- the third one   -->

                <div class="user_contact ">
                <span class="user_plus" ng-if="selection[1] == 'origin'" ng-click="showUser(1)">
                    <i class="fa fa-plus-circle fa-4x" aria-hidden="true"></i>
                </span>
                    <div class="clear"></div>

                    <ui-select ng-model="user[1].selected" class="select_input selectpicker select_page"
                               ng-if="selection[1] == 'select'"
                               on-select="showUserInfo(1,'supervisor',user[1].selected.user_id)">
                        <ui-select-match>
                            <span ng-bind="$select.selected.first_name +' '+$select.selected.last_name"></span>
                        </ui-select-match>
                        <ui-select-choices
                                repeat="item in supervisors | propsFilter:{first_name:$select.search,last_name:$select.search,role:$select.search} track by $index">
                            <strong><span ng-bind="item.first_name"></span> <span
                                    ng-bind="item.last_name"></span></strong><br>
                            <span ng-bind="item.role"></span>
                        </ui-select-choices>
                    </ui-select>
                    <div class="contact_up" ng-if="selection[1] == 'selected'">
                        <span class="userEditBtn" ng-click="editUser(1)"><i class="fa fa-pencil-square-o fa-2x"
                                                                            aria-hidden="true"></i></span>
                        <img ng-if="user[1].selected.avatar" ng-src="{{user[1].selected.avatar}}" alt="">
                        <img ng-if="!user[1].selected.avatar" ng-src="{{default_img_url}}" alt="">
                        <div class="user_intro">
                            <h4>{{user[1].selected.first_name}} {{user[1].selected.last_name}}</h4>
                            <p>{{user[1].selected.address}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="contact_down" ng-if="selection[1] == 'selected'">
                    <span><i class="fa fa-phone fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;
                      {{user[1].phone || user[1].mobile || 'no phone number now'}}</span> <br>
                        <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;
                      <a href="mailto:{{user[1].email}}">{{user[1].email || 'no email now'}}</a></span>
                    </div>
                    <div class="contact_up" ng-if="selection[1] == 'settled'">
                        <span class="userEditBtn" ng-click="editUser(1)"><i class="fa fa-pencil-square-o fa-2x"
                                                                            aria-hidden="true"></i></span>
                        <img ng-if="job.supervisor.avatar" ng-src="{{job.supervisor.avatar}}" alt="">
                        <img ng-if="!job.supervisor.avatar" ng-src="{{default_img_url}}" alt="">
                        <div class="user_intro">
                            <h4>{{job.supervisor.first_name}} {{job.supervisor.last_name}}</h4>
                            <p>{{job.supervisor.address}}</p>
                        </div>
                        <div class="clear"></div>
                    </div>

                    <div class="contact_down" ng-if="selection[1] == 'settled'">
                    <span><i class="fa fa-phone fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;
                      {{job.supervisor.phone || job.supervisor.mobile || 'no phone number now'}}</span> <br>
                        <span><i class="fa fa-envelope-o fa-lg" aria-hidden="true"></i>&nbsp;&nbsp;
                      <a href="mailto:{{job.supervisor.email}}">{{job.supervisor.email || 'no email now'}}</a></span>
                    </div>
                    <div class="clear"></div>
                </div>

                <div class="clear"></div>
            </div>

            <div class="approval_down">
                <div class="approval_down_left">
                    <span class="timeline_editBtn"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></span>
                    <h3>Conditional Approval</h3>
                    <div class="process">
                        <span class='submission'><i class="fa fa-arrow-circle-right fa-3x" aria-hidden="true"></i></span>
                        <span class='fileProgress'><i class="fa fa-tasks fa-3x" aria-hidden="true"></i></span>
                        <span class='assessment'><i class="fa fa-refresh fa-4x" aria-hidden="true"></i></span>
                        <span class='settlement'><i class="fa fa-check-circle fa-3x" aria-hidden="true"></i></span>
                    </div>
                    <div class="process_name">
                        <span class='submission_name'>ENQUIRY</span>
                        <span class='fileProgress_name'>PROGRESS</span>
                        <span class='assessment_name'>ASSESSMENT</span>
                        <span class='settlement_name'>SETTLEMENT</span>
                    </div>

                    <div class="vertical_progress">
                        <ul class='timeline'>
                            <li class='subm1'>
                                <div class=""></div>
                                <span><strong>INITIAL ENQUIRY</strong></span></li>
                            <li class='subm2'><span
                                    class='time'>{{newStatus[1].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 1" data-index='0'></div>
                                <span class='stage_name'>Initial enquiry</span> &nbsp;<span class='num badge'
                                                                                                ng-if="commentAmount[1]"
                                                                                                ng-click="showStatusComment(1)">{{commentAmount[1]}}</span>
                            </li>
                            <li class='subm3'><span
                                    class='time'>{{newStatus[2].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 2" data-index='1'></div>
                                <span class='stage_name'>Credit guide</span> &nbsp;<span class='num badge'
                                                                                               ng-if="commentAmount[2]"
                                                                                               ng-click="showStatusComment(2)">{{commentAmount[2]}}</span>
                            </li>
                            <li class='subm4'><span
                                    class='time'>{{newStatus[3].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 3" data-index='2'></div>
                                <span class='stage_name'>Privacy provided</span> &nbsp;<span class='num badge'
                                                                                                  ng-if="commentAmount[3]"
                                                                                                  ng-click="showStatusComment(3)">{{commentAmount[3]}}</span>
                            </li>
                            <li class='subm5'><span
                                    class='time'>{{newStatus[4].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 4" data-index='3'></div>
                                <span class='stage_name'>Initial interview</span> &nbsp;<span class='num badge'
                                                                                                  ng-if="commentAmount[4]"
                                                                                                  ng-click="showStatusComment(4)">{{commentAmount[4]}}</span>
                            </li>
                            <li class='subm6'><span
                                    class='time'>{{newStatus[5].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 5" data-index='4'></div>
                                <span class='stage_name'>Ready to process</span> &nbsp;<span class='num badge'
                                                                                                  ng-if="commentAmount[5]"
                                                                                                  ng-click="showStatusComment(5)">{{commentAmount[5]}}</span>
                            </li>

                            <!--the second phrase  -->
                            <li class='progress1'><span><strong>FILE IN PROGRESS</strong></span>
                            </li>
                            <li class='progress2'><span
                                    class='time'>{{newStatus[6].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 6" data-index='5'></div>
                                <span class='stage_name'>Quote sent</span> &nbsp;<span class='num badge'
                                                                                                 ng-if="commentAmount[6]"
                                                                                                 ng-click="showStatusComment(6)">{{commentAmount[6]}}</span>
                            </li>
                            <li class='progress3'><span
                                    class='time'>{{newStatus[7].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 7" data-index='6'></div>
                                <span class='stage_name'>NCCP documents</span> &nbsp;<span class='num badge'
                                                                                                 ng-if="commentAmount[7]"
                                                                                                 ng-click="showStatusComment(7)">{{commentAmount[7]}}</span>
                            </li>
                            <li class='progress4'><span
                                    class='time'>{{newStatus[8].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 8" data-index='7'></div>
                                <span class='stage_name'>Application sent</span> &nbsp;<span class='num badge'
                                                                                                 ng-if="commentAmount[8]"
                                                                                                 ng-click="showStatusComment(8)">{{commentAmount[8]}}</span>
                            </li>
                            <li class='progress5'><span
                                    class='time'>{{newStatus[9].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 9" data-index='8'></div>
                                <span class='stage_name'>Loan submitted</span> &nbsp;<span class='num badge'
                                                                                                 ng-if="commentAmount[9]"
                                                                                                 ng-click="showStatusComment(9)">{{commentAmount[9]}}</span>
                            </li>

                            <!--the third phrase  -->
                            <li class='assess1'><span><strong>ASSESSMENT</strong></span>
                            </li>
                            <li class='assess2'><span
                                    class='time'>{{newStatus[10].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 10" data-index='9'></div>
                                <span class='stage_name'>File received</span> &nbsp;<span class='num badge'
                                                                                                 ng-if="commentAmount[10]"
                                                                                                 ng-click="showStatusComment(10)">{{commentAmount[10]}}</span>
                            </li>
                            <li class='assess3'><span
                                    class='time'>{{newStatus[11].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 11" data-index='10'></div>
                                <span class='stage_name'>Conditional approval</span> &nbsp;<span class='num badge'
                                                                                                 ng-if="commentAmount[11]"
                                                                                                 ng-click="showStatusComment(11)">{{commentAmount[11]}}</span>
                            </li>
                            <li class='assess4'><span
                                    class='time'>{{newStatus[12].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 12" data-index='11'></div>
                                <span class='stage_name'>Valuation ordered</span>&nbsp; <span class='num badge'
                                                                                              ng-if="commentAmount[12]"
                                                                                              ng-click="showStatusComment(12)">{{commentAmount[12]}}</span>
                            </li>
                            <li class='assess5'><span
                                    class='time'>{{newStatus[13].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 13" data-index='12'></div>
                                <span class='stage_name'>Unconditional approval</span>&nbsp; <span class='num badge'
                                                                                                   ng-if="commentAmount[13]"
                                                                                                   ng-click="showStatusComment(13)">{{commentAmount[13]}}</span>
                            </li>
                            <li class='assess6'><span
                                    class='time'>{{newStatus[14].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 14" data-index='13'></div>
                                <span class='stage_name'>Docs issued</span>&nbsp; <span class='num badge'
                                                                                        ng-if="commentAmount[14]"
                                                                                        ng-click="showStatusComment(14)">{{commentAmount[14]}}</span>
                            </li>
                            <li class='assess7'><span
                                    class='time'>{{newStatus[15].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 15" data-index='14'></div>
                                <span class='stage_name'>Signed docs returned</span>&nbsp; <span class='num badge'
                                                                                                 ng-if="commentAmount[15]"
                                                                                                 ng-click="showStatusComment(15)">{{commentAmount[15]}}</span>
                            </li>
                            <li class='assess8'><span
                                    class='time'>{{newStatus[16].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 16" data-index='15'></div>
                                <span class='stage_name'>Ready to book</span>&nbsp; <span class='num badge'
                                                                                          ng-if="commentAmount[16]"
                                                                                          ng-click="showStatusComment(16)">{{commentAmount[16]}}</span>
                            </li>

                          <!--the forth phrase  -->
                            <li class='sett1'><span><strong>SETTLEMENT</strong></span>
                            </li>
                            <li class='sett2'><span
                                    class='time'>{{newStatus[17].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 17" data-index='16'></div>
                                <span class='stage_name'>Settled</span>&nbsp;<span class='num badge' ng-if="commentAmount[17]"
                                                                                   ng-click="showStatusComment(17)">{{commentAmount[17]}}</span>
                            </li>
                            <li class='sett3'><span
                                    class='time'>{{newStatus[18].createAt | date:'MM/dd/yyyy h:mma'}}</span>
                                <div class="circle 18" data-index='17'></div>
                                <span class='stage_name'>Post-settlement service</span> &nbsp;<span
                                        class='num badge' ng-if="commentAmount[18]" ng-click="showStatusComment(18)">{{commentAmount[18]}}</span>
                            </li>
                        </ul>
                    </div>

                    <button class='saveBtn btn btn-default btn-sm' type="button" name="button">SAVE</button>

                </div>

                <div class="approval_down_right">
                    <div class="document_control">
                        <!-- <div class="upload_doc">
                            <span><i class="fa fa-upload fa-lg" aria-hidden="true"></i></span><span class='doc'><strong>UP DOCUMENTS</strong></span>
                        </div> -->
                        <div class="status_select">
                            <label>Status</label>
                            <ui-select ng-model="commentFilter.selected" class="selectpicker select_page"
                                       on-select="showStatusComment(commentFilter.selected.value)"
                                       style="width:239px;display:inline-block;">
                                <ui-select-match>
                                    <span ng-bind="$select.selected.label"></span>
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in commentFilter | propsFilter:{label:$select.search} track by $index">
                                    <span ng-bind="item.label"></span>
                                </ui-select-choices>
                            </ui-select>
                        </div>
                        <div class="download_doc" onclick="printJS('printJS-form', 'html')" style="cursor:pointer">
                            <span><i class="fa fa-download fa-lg" aria-hidden="true"></i></span><span
                                class='doc'><strong>PRINT DOCUMENT</strong></span>
                        </div>
                        <div class="clear"></div>
                    </div>
                    <div class="message_part">
                        <div class="message_list">
                            <div class="message_wrap" scroll-glue-bottom="!glued">
                                <div class="scroll_container">

                                    <div class="message" ng-repeat="item in comments track by $index">
                                  <!-- <div class="commenter">
                                            <div class="commenter_name">
                                                <strong>{{item.username}}</strong>
                                            </div>
                                            <div class="comment_time">
                                                {{item.create_at | date:'dd/MM/yyyy'}} <br>
                                                {{item.create_at | date:'HH:mm:ss'}}
                                            </div>
                                        </div>
                                        <div class="comment" ng-bind-html="item.content">
                                        </div> -->

                                        <div class="commenter">
                                            <img ng-if="item.avatar" ng-src="{{item.avatar}}" alt="">
                                            <img ng-if="!item.avatar" ng-src="{{default_img_url}}" alt="">
                                        </div>
                                        <div class="comment_info">
                                            <div class="commenter_name"><strong>{{item.username}}</strong></div>
                                            <div class="comment" ng-bind-html="deliberatelyTrustDangerousSnippet(item.content)"></div>
                                            <div class="comment_time"><strong>{{item.create_at|date:'MM/dd/yyyy'}} at {{item.create_at|date:'h:mma'}}</strong></div>
                                        </div>

                                        <div class="clear"></div>

                                    </div>
                                </div>
                            </div>
                            <!--========================  comment input ============================ -->
                            <br>
                            <div class='comment_title'>Leave a comment</div>
                            <div class="leave_message">
                                <!-- <div class="commenter commenter_leave">
                                    <div class="commenter_img">
                                        <img ng-if="user.avatar" ng-src="{{user.avatar}}" alt="">
                                        <img ng-if="!user.avatar" ng-src="{{default_img_url}}" alt="">
                                    </div>
                                </div> -->
                                <form class="comment_form">
                                <textarea class='comment_input' placeholder="Add a comment..."
                                          ui-tinymce="tinymceOptions" ng-model="comment"
                                          required></textarea>
                                    <button type="reset" class="cancelBtn btn btn-default btn-sm">Cancel</button>
                                    <button class="commentBtn btn btn-default btn-sm" ng-click="makeComment()">Send</button>
                                </form>
                                <div class="clear"></div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="clear"></div>
            </div>

        </div>
        <!-- width_fix end -->
    </div>
    <!-- rigth_part end -->
    <div id="printJS-form" style="visibility: hidden">
        <div>
            <div class="left">
                <div class="r">
                    <h4>Customer</h4>
                    <div>name:</div>
                    <div>mobile:</div>
                    <div>phone:</div>
                    <div>email:</div>
                    <div>residential address:</div>
                    <div>preferred time:</div>
                    <div>preferred method:</div>
                    <div>date of birth</div>
                </div>
                <div class="l">
                    <div>{{job.first_name}} {{job.last_name}}</div>
                    <div>{{job.mobile || 'not set'}}</div>
                    <div>{{job.phone || 'not set'}}</div>
                    <div>{{job.email || 'not set'}}</div>
                    <div>{{job.address || 'not set'}}</div>
                    <div>{{job.preferred_time || 'not set'}}</div>
                    <div>{{job.preferred_method || 'not set'}}</div>
                    <div>{{job.client_date_of_birth || 'not set'}}</div>
                </div>
            </div>

            <div class="right">
                <div class="r">
                    <h4>Loan</h4>
                    <div>loan amount:</div>
                    <div>loan purpose:</div>
                    <div>status:</div>
                    <div>repayment type:</div>
                    <div>loan type:</div>
                    <div>special notes:</div>
                    <div>settlement date</div>
                    <div>lender</div>
                </div>
                <div class="l">
                    <div>{{job.loan_amount || 0}}</div>
                    <div>{{job.loan_purpose.label || 'not set'}}</div>
                    <div>{{job.deal_status.label || 'not set'}}</div>
                    <div>{{job.repayment_type.label || 'not set'}}</div>
                    <div>{{job.loan_type.label || 'not set'}}</div>
                    <div>{{job.special_note || 'not set'}}</div>
                    <div ng-if="job.settlement_date">{{job.settlement_date| date:'MM/dd/yyyy'}}</div>
                    <div ng-if="!job.settlement_date">not set</div>
                    <div>{{$scope.job.bank.name || 'not set'}}</div>
                </div>
            </div>
            <br>
            <div class="left">
                <div class="r">
                    <h4>Broker</h4>
                    <div>name:</div>
                    <div>address:</div>
                    <div>phone:</div>
                    <div>email:</div>
                </div>
                <div class="l">
                    <div ng-if="user[2].selected">
                        <div>{{user[2].selected.first_name}} {{user[2].selected.last_name}}</div>
                        <div>{{user[2].selected.address || 'no address now'}}</div>
                        <div>{{user[2].selected.phone || 'no phone number now'}}</div>
                        <div>{{user[2].selected.email || 'no email now'}}</div>
                    </div>
                    <div ng-if="!user[2].selected">
                        <div>{{job.broker.first_name}} {{job.broker.last_name}}</div>
                        <div>{{job.broker.address || 'no address now'}}</div>
                        <div>{{job.broker.phone || 'no phone number now'}}</div>
                        <div>{{job.broker.email || 'no email now'}}</div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="r">
                    <h4>Admin</h4>
                    <div>name:</div>
                    <div>address:</div>
                    <div>phone:</div>
                    <div>email:</div>
                </div>
                <div class="l">
                    <div ng-if="user[0].selected">
                        <div>{{user[0].selected.first_name}} {{user[0].selected.last_name}}</div>
                        <div>{{user[0].selected.address || 'no address now'}}</div>
                        <div>{{user[0].selected.phone || 'no phone number now'}}</div>
                        <div>{{user[0].selected.email || 'no email now'}}</div>
                    </div>
                    <div ng-if="!user[0].selected">
                        <div>{{job.admin.first_name}} {{job.admin.last_name}}</div>
                        <div>{{job.admin.address || 'no address now'}}</div>
                        <div>{{job.admin.phone || 'no phone number now'}}</div>
                        <div>{{job.admin.email || 'no email now'}}</div>
                    </div>
                </div>
            </div>
            <div class="left">
                <div class="r">
                    <h4>Supervisor</h4>
                    <div>name:</div>
                    <div>address:</div>
                    <div>phone:</div>
                    <div>email:</div>
                </div>
                <div class="l">
                    <div ng-if="user[1].selected">
                        <div>{{user[1].selected.first_name}} {{user[1].selected.last_name}}</div>
                        <div>{{user[1].selected.address || 'no address now'}}</div>
                        <div>{{user[1].selected.phone || 'no phone number now'}}</div>
                        <div>{{user[1].selected.email || 'no email now'}}</div>
                    </div>
                    <div ng-if="!user[1].selected">
                        <div>{{job.supervisor.first_name}} {{job.supervisor.last_name}}</div>
                        <div>{{job.supervisor.address || 'no address now'}}</div>
                        <div>{{job.supervisor.phone || 'no phone number now'}}</div>
                        <div>{{job.supervisor.email || 'no email now'}}</div>
                    </div>
                </div>
            </div><br>
            <div>
                <h4>Comment</h4>
                <div ng-repeat="item in comments track by $index">
                        <div class="r left">
                            <strong>{{item.username}}</strong>
                            {{item.create_at | date:'dd/MM/yyyy'}}
                            {{item.create_at | date:'HH:mm:ss'}}
                        </div>
                    <div class="l right" ng-bind-html="item.content">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../scripts/loan-job-list.js"></script>
</body>
</html>
