<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>create user form</title>

    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/create-user-form.css">
</head>

<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">
      <div class="width_fix">


        <div class="personal_detail">
            <h3>Personal Details</h3>
            <form name="createForm">
                <span style="margin-left:170px;color:red" class="error" ng-if="createForm.email.$error.email">Not valid email!</span><br>
                <label>Email</label><input type="email" class="form-control" name="email" value="" ng-model="email">
                <label>Role</label>
                <ui-select ng-model="roles.selected"
                                              search-enabled="false" class="selection_role"
                                              onkeypress="return false;" ng-disabled="disabled" required>
                <ui-select-match>
                    <span ng-bind="$select.selected.label"></span>
                </ui-select-match>
                <ui-select-choices repeat="item in roles track by $index">
                    <span ng-bind="item.label"></span>
                </ui-select-choices>
                </ui-select>
                <br>
                <label>First name</label><input class="form-control" type="text" ng-model="first_name" required>
                <label>Last name</label><input class="form-control" type="text" ng-model="last_name" required><br>

                <button class="saveBtn btn btn-default btn-sm" type='submit' name="button" ng-click="createUser()" ng-disabled="createForm.$invalid">SAVE</button>
            </form>
        </div>

      </div>
    </div>

</div>

<!--my js-->
<script type="text/javascript" src="../scripts/loan-job-list.js"></script>
</body>
</html>
