<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>create form</title>
    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/create-form.css">
</head>

<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">
      <div class="width_fix">


        <div class="personal_detail">
            <h3>Customer Details</h3>
            <form name="myform">
                <div class="email_search">
                  <label>Full Name</label>

                    <ui-select ng-model="ctrl.choosenUser"
                               theme="bootstrap" on-select="listUser()" style="width:220px;margin-left:170px;height:30px;">
                        <ui-select-match placeholder="Search customer by name">{{$select.selected.name}}</ui-select-match>
                        <ui-select-choices repeat="item in userobj | propsFilter: {name: $select.search} track by $index">
                            <strong>
                                <div ng-bind="item.name"></div>
                            </strong>
                        </ui-select-choices>
                    </ui-select>
                    <!--multiple selection-->
                    <!--<ui-select multiple tagging="ctrl.tagTransform" ng-model="ctrl.choosenUser"
                               theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false"
                               on-select="listUser()" style="width:300px;margin-left:170px;height:30px;">
                        <ui-select-match placeholder="Type to search or create customer" name="email">{{$item.name}}</ui-select-match>
                        <ui-select-choices repeat="item in userobj | propsFilter: {name: $select.search} | limitTo: ($select.search.length < 1) ? 0 : undefined">
                            <strong>
                                <div ng-bind-html="item.name | highlight:$select.search"></div> &lt;!&ndash;<div ng-bind-html="item.last_name | highlight:$select.search"></div>&ndash;&gt;
                            </strong>
                        </ui-select-choices>
                    </ui-select>-->

                </div>
                <br>
                <label>First name</label><input class="form-control" type="text" ng-model="ctrl.user.first_name" required>
                <label>Last name</label><input class="form-control" type="text" ng-model="ctrl.user.last_name" required><br>

                <label>Mobile</label><input class="form-control" type="text" ng-model="ctrl.user.mobile">
                <label>Residential address</label><input class="form-control" type="text" ng-model="ctrl.user.address"><br>

                <label class="prefer">Preferred contact time</label><input class="form-control" type="text" ng-model="ctrl.user.preferred_time">
                <label class="prefer">Preferred contact method</label><input class="form-control" type="text" ng-model="ctrl.user.preferred_method"><br>

                <label>Date of Birth</label><input class="form-control" type="text">
                <label>Email</label><input class="form-control" type="email" ng-model="ctrl.user.email"><br>
            </form>
        </div>

        <div class="product">
            <h3>Loan</h3>
            <form name="jobForm" novalidate>
                <div class="product_line1">
                  <label>Loan type</label>
                  <ui-select ng-model="loan_type.selected" search-enabled="false" class="type_input selectpicker select_page"
                             onkeypress="return false;" ng-disabled="disabled" style="width:220px; height:33px !important;">
                      <ui-select-match>
                          <span ng-bind="$select.selected.label"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in loan_type track by $index">
                          <span ng-bind="item.label"></span>
                      </ui-select-choices>
                  </ui-select>
                  <!-- <label>File nature</label>
                  <ui-select ng-model="file_nature.selected" search-enabled="false" class="file_input selectpicker select_page"
                             onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                      <ui-select-match>
                          <span ng-bind="$select.selected.label"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in file_nature track by $index">
                          <span ng-bind="item.label"></span>
                      </ui-select-choices>
                  </ui-select> -->
                  <label>Repayment type</label>
                      <ui-select ng-model="repayment_type.selected" search-enabled="false" class="bank_input selectpicker select_page"
                                 onkeypress="return false;" ng-disabled="disabled" style="width:220px;height:33px !important;">
                          <ui-select-match>
                              <span ng-bind="$select.selected.label"></span>
                          </ui-select-match>
                          <ui-select-choices repeat="item in repayment_type track by $index">
                              <span ng-bind="item.label"></span>
                          </ui-select-choices>
                      </ui-select>
                </div>
                <br>
                <div class="product_line2">
                  <label>Loan amount</label><input class="form-control" type="number" ng-model="job.product.loan_amount">

                  <label>Broker</label>
                  <ui-select ng-model="brokers.selected" class="broker_input selectpicker select_page" style="width:220px;">
                      <ui-select-match>
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in brokers | propsFilter:{name:$select.search} track by $index">
                          <span ng-bind="item.name"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
                <br>

                <div class="product_line3">
                  <label>Loan purpose</label>
                  <ui-select ng-model="loan_purpose.selected" search-enabled="false" class="purpose_input selectpicker select_page"
                             onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                      <ui-select-match>
                          <span ng-bind="$select.selected.label"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in loan_purpose track by $index">
                          <span ng-bind="item.label"></span>
                      </ui-select-choices>
                  </ui-select>
                    <label>Special notes</label>
                    <textarea class="form-control" style="resize:none" ng-model="job.product.special_note"></textarea>
                    <br>
                </div>
                <br>
                <div class="product_line4">
                    <label>Bank</label>
                    <ui-select ng-model="banks.selected" search-enabled="false" class="bank_input selectpicker select_page"
                               onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                        <ui-select-match>
                            <span ng-bind="$select.selected.name"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in banks track by $index">
                            <span ng-bind="item.name"></span>
                        </ui-select-choices>
                    </ui-select>
                    <label for="">Settlement date</label>
                    <input class="btn btn-default" ui-date ng-model="settlementDate">
                </div>
                <br>

                <div class="product_line5">
                  <label for="">Lender</label>
                  <input class="form-control" type="text" name="" value="">

                  <label for="">Pricing</label>
                  <input class="form-control" type="text" name="" value="">
                </div>
                <br>

                <div class="product_line6">
                  <label for="">Security</label>
                  <input class="form-control" type="text" name="" value="">

                  <label for="">Security value</label>
                  <input class="form-control" type="text" name="" value="">
                </div>
                <br>

                <div class="product_line7">
                  <label for="">Security address</label>
                  <input class="form-control" type="text" name="" value="">

                </div>
                <br>

                <button class="saveBtn btn btn-default btn-sm" type='submit' name="button" ng-click="ctrl.onSubmit()" ng-disabled="form.input.$error.required">SAVE</button>
                <span style="color:red" ng-if="valid === false">Please input required information</span>
            </form>
        </div>

      </div>
    </div>

</div>

<!--my js-->
<script type="text/javascript" src="../scripts/loan-job-list.js"></script>
</body>
</html>
