<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>loan-create-document</title>
    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css">
    <link rel="stylesheet" href="../styles/create-form.css"> -->
    <link rel="stylesheet" href="../styles/create-document.css">
</head>
<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">
        <!-- <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h4>Select files</h4>
                    <div nv-file-drop uploader="uploader" nv-file-over class="well my-drop-zone" ng-show="uploader.isHTML5">
                        Drop file here
                    </div>
                    <input type="file" nv-file-select uploader="uploader" multiple>
                </div>
                <div class="col-md-9">
                    <h4>Upload queue</h4>
                    <p>Queue length:1</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th width="50%">Name</th>
                                <th>Size</th>
                                <th>Progress</th>
                                <th>Status</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in uploader.queue">
                                <td><strong>{{ item.file.name }}</strong></td>
                                <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                                <td ng-show="uploader.isHTML5">
                                    <div class="progress" style="margin-bottom:0;">
                                        <div class="progress-bar" role="progressbar" ng-style="{'width':item.progress + '%'}"></div>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <span ng-show="item.isSuccess" style="display:none;">
                                        <i class="glyphicon glyphicon-ok"></i>
                                    </span>
                                    <span ng-show="item.isCancel" style="display:none;">
                                        <i class="glyphicon glyphicon-ban-circle"></i>
                                    </span>
                                    <span ng-show="item.isError" style="display:none;">
                                        <i class="glyphicon glyphicon-remove"></i>
                                    </span>
                                </td>
                                <td nowrap>
                                    <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                        <span class="glyphicon glyphicon-upload"></span>Upload
                                    </button>
                                    <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled">
                                        <span class="glyphicon glyphicon-ban-circle"></span>Cancel
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                        <span class="glyphicon glyphicon-trash"></span>Remove
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div>
                        <div>
                            Queue progress:
                            <div class="progress">
                                <div class="progress-bar" role="progressbar"  ng-style="{'width':uploader.progress + '%'}"></div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" disabled="disabled">
                            <span class="glyphicon glyphicon-upload"></span>Upload all
                        </button>
                        <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" disabled="disabled">
                            <span class="glyphicon glyphicon-ban-circle"></span>Cancel all
                        </button>
                        <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" disabled="disabled">
                            <span class="glyphicon glyphicon-trash"></span>Remove all
                        </button>
                    </div>
                </div>
            </div>
        </div> -->

        <!--=================  -->
        <div id="doc_form">
           <h3>Upload Documents</h3>
           <h4>Select files</h4>
           <hr>
           <div class="select_file_form">
             <div nv-file-drop uploader="uploader" nv-file-over class="well my-drop-zone" ng-show="uploader.isHTML5">
                 Drop file here
             </div>
             <input type="file" nv-file-select uploader="uploader" multiple>
           </div>

           <h4>Upload queue</h4>
           <hr>
           <div class="up_load_queue">
               <table class="table">
                   <thead>
                       <tr>
                           <th width="50%">Name</th>
                           <th>Size</th>
                           <th>Progress</th>
                           <th>Status</th>
                           <th>Actions</th>
                       </tr>
                   </thead>
                   <tbody>
                       <tr ng-repeat="item in uploader.queue">
                           <td><strong>{{ item.file.name }}</strong></td>
                           <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                           <td ng-show="uploader.isHTML5">
                               <div class="progress" style="margin-bottom:0;">
                                   <div class="progress-bar" role="progressbar" ng-style="{'width':item.progress + '%'}"></div>
                               </div>
                           </td>
                           <td class="text-center">
                               <span ng-show="item.isSuccess" style="display:none;">
                                   <i class="glyphicon glyphicon-ok"></i>
                               </span>
                               <span ng-show="item.isCancel" style="display:none;">
                                   <i class="glyphicon glyphicon-ban-circle"></i>
                               </span>
                               <span ng-show="item.isError" style="display:none;">
                                   <i class="glyphicon glyphicon-remove"></i>
                               </span>
                           </td>
                           <td nowrap>
                               <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                   <span class="glyphicon glyphicon-upload"></span>Upload
                               </button>
                               <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading" disabled="disabled">
                                   <span class="glyphicon glyphicon-ban-circle"></span>Cancel
                               </button>
                               <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                   <span class="glyphicon glyphicon-trash"></span>Remove
                               </button>
                           </td>
                       </tr>
                   </tbody>
               </table>
               <div>
                   <div>
                       Queue progress:
                       <div class="progress">
                           <div class="progress-bar" role="progressbar"  ng-style="{'width':uploader.progress + '%'}"></div>
                       </div>
                   </div>
                   <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length" disabled="disabled">
                       <span class="glyphicon glyphicon-upload"></span>Upload all
                   </button>
                   <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading" disabled="disabled">
                       <span class="glyphicon glyphicon-ban-circle"></span>Cancel all
                   </button>
                   <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length" disabled="disabled">
                       <span class="glyphicon glyphicon-trash"></span>Remove all
                   </button>
               </div>
           </div>

        </div>

    </div>
</div>
</body>
</html>
