<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>create form</title>
    <!--my css-->
    <link rel="stylesheet" href="../styles/nav_bar.css">
    <link rel="stylesheet" href="../styles/create-form.css">
</head>

<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">
        <div class="personal_detail">
            <h3>Personal Details</h3>
            <form>
                <div class="email_search">
                  <label>Email</label>
                  <ui-select class="email_input" ng-model="ctrl.email" ng-disabled="ctrl.disabled" reset-search-input="false" required>
                      <ui-select-match placeholder="Type more than 3 characters to find the user by email"
                                       style="width:400px;">
                          <!--<span ng-bind="$select.selected.name" style="width:400px;"></span>-->
                          {{$select.selected.email}}
                      </ui-select-match>
                      <ui-select-choices class="ui-select-choices" repeat="item in ctrl.users track by $index"
                                         refresh="ctrl.refreshUser($select.search)" refresh-delay="0" style="width:400px;"
                                         ng-click="listUser()">
                          <span ng-bind="item.first_name"></span><span ng-bind="item.last_name"></span>
                          <div ng-bind-html="item.email | highlight: $select.search"></div>
                      </ui-select-choices>
                  </ui-select>
                </div>
                <br>
                <label>First name</label><input type="text" ng-model="ctrl.user.first_name" required>
                <label>Last name</label><input type="text" ng-model="ctrl.user.last_name" required><br>

                <label>Mobile</label><input type="text" ng-model="ctrl.user.mobile">
                <label>Security address</label><input type="text" ng-model="ctrl.user.address"><br>
            </form>
        </div>

        <div class="product">
            <h3>Product</h3>
            <form name="jobForm" novalidate>
                <label>Loan type</label>
                <ui-select ng-model="loan_type.selected" search-enabled="false" class="broker_input selectpicker select_page"
                           onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                    <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in loan_type track by $index">
                        <span ng-bind="item"></span>
                    </ui-select-choices>
                </ui-select>
                <label>File nature</label>
                <ui-select ng-model="file_nature.selected" search-enabled="false" class="broker_input selectpicker select_page"
                           onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                    <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in file_nature track by $index">
                        <span ng-bind="item"></span>
                    </ui-select-choices>
                </ui-select>

                <div class="product_line2">
                  <label>Loan amount</label><input ng-model="job.product.loan_amount">

                  <label>Broker</label>
                  <ui-select ng-model="brokers.selected" search-enabled="false" class="broker_input selectpicker select_page"
                             onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                      <ui-select-match>
                          <span ng-bind="$select.selected.first_name +' '+$select.selected.last_name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in brokers track by $index">
                          <span ng-bind="item.first_name"></span><span ng-bind="item.last_name"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
                <br>

                <label>Loan purpose</label>
                <ui-select ng-model="loan_purpose.selected" search-enabled="false" class="broker_input selectpicker select_page"
                           onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                    <ui-select-match>
                        <span ng-bind="$select.selected"></span>
                    </ui-select-match>
                    <ui-select-choices repeat="item in loan_purpose track by $index">
                        <span ng-bind="item"></span>
                    </ui-select-choices>
                </ui-select>
                <label>Special notes</label><input type="text" ng-model="job.product.special_note"><br>

                <div class="product_line4">
                <label>Repayment type</label>
                    <ui-select ng-model="repayment_type.selected" search-enabled="false" class="bank_input selectpicker select_page"
                               onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                        <ui-select-match>
                            <span ng-bind="$select.selected"></span>
                        </ui-select-match>
                        <ui-select-choices repeat="item in repayment_type track by $index">
                            <span ng-bind="item"></span>
                        </ui-select-choices>
                    </ui-select>
                  <label>Bank</label>
                  <ui-select ng-model="banks.selected" search-enabled="false" class="bank_input selectpicker select_page"
                             onkeypress="return false;" ng-disabled="disabled" style="width:220px;">
                      <ui-select-match>
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in banks track by $index">
                          <span ng-bind="item.name"></span>
                      </ui-select-choices>
                  </ui-select>
                </div>
                <br>
                <button class="saveBtn" type='submit' name="button" ng-click="ctrl.onSubmit()" ng-disabled="form.input.$error.required">Save</button>
                <span style="color:red" ng-if="valid === false">Please input required information</span>
            </form>
        </div>
    </div>

</div>

<!--my js-->
<script type="text/javascript" src="../scripts/loan-job-list.js"></script>
</body>
</html>
