<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="../styles/nav_bar.css">
</head>
<body>
<nav class="nav_bar">
    <div class="brand">Antloans</div>

    <div class="dropdownl">
        <img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">
        <button class="dropbtn">Adam Hunt <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
        <div class="dropdown-content">
            <a href="loan-user-profile.html">Profile</a>
            <hr>
            <a href="#">Setting</a>
            <hr>
            <a href="login.html">Log out</a>
        </div>
    </div>

    <div class="bell">
        <i class="fa fa-bell fa-lg" aria-hidden="true"></i>
    </div>
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open'>
        <ul>
            <li class='job-bar' ui-sref=".job-list"><span><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i><a href="loan-job-list.html">JOB LIST</a></span></li>
            <li class='doc-bar' ui-sref=".document"><span><i class="fa fa-file-text fa-lg" aria-hidden="true"></i><a href="loan-document.html">DOCUMENT</a></span></li>
            <li class='user-bar' ui-sref=".user-list"><span><i class="fa fa-user fa-lg" aria-hidden="true"></i><a href="user-list.html">USER</a></span></li>
            <li class='set-bar'><span><i class="fa fa-cog fa-lg" aria-hidden="true"></i><a href="#">SETTING</a></span></li>
            <li class='report-bar' ui-sref=".report"><span><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i><a href="report-analytics.html">REPORT</a></span></li>
        </ul>

        <div class="left_arrow"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></div>
    </aside>

    <div ui-view></div>

</div>

</body>
</html>