<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>loan-job-list</title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/libs/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">


    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/loan-document.css">
 </head>

  <body>
    <nav class="nav_bar" ng-include="'views/partials/navigation.html'">
    </nav>

     <div class='main'>

         <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
         </aside>

           <div class="right_part">
              <section class='tool_bar'>
              <div class="width_fix" style="position:relative">
                 <div class="tool_top">
                    <h3>Documents</h3>
                    <button type="button" name="button" ui-sref="create-document"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>&nbsp;
                        Documents
                    </button>
                 </div>

                 <div class='tool_bar_above'>
                    <div class='search_input'>
                      <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                        <input class="form-control" type="text" placeholder="SEARCH">
                      </div>
                    </div>

                    <div class="sortBy">
                      <label for="">SORT BY: &nbsp;</label>
                      <select class="selectpicker select_date">
                        <option>Date</option>
                        <option>Gender</option>
                        <option>Name</option>
                      </select>
                    </div>

                    <div class="page">
                        <ul class="pager">
                          <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Prev</a></li>
                          <li><a href="#">Next &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                    <select class="selectpicker select_page">
                      <option>10</option>
                      <option>20</option>
                      <option>30</option>
                    </select>
                  </div>
              </div>
              </section>

              <div class="width_fix">
              <div id="document">
                 <div class='document_list'>
                    <table class='"table table-striped"'>
                       <thead>
                         <tr><th>TITLE &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                             <th>VERSION &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                             <th>MODIFIELD &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                             <th>TYPE &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                             <th>UPLOADER &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                             <th>ACTION </th></tr>
                       </thead>
                       <tbody>
                         <tr ng-repeat="item in document track by $index">
                           <td>{{item.name}}</td>
                           <td>0.0</td>
                           <td>{{item.createAt}}</td>
                           <td>Individual</td>
                           <td>David Cutter</td>
                           <td><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;
                             <a href="{{api+item.path}}"><i class="fa fa-download" aria-hidden="true" ></i></a>
                           </td>
                         </tr>
                       </tbody>

                    </table>

                 </div>
              </div>
            </div>
          </div>

     </div>

     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
     <!--my js-->
     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
  </body>
</html>
