<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>user profile</title>

    <link rel="stylesheet" href="../styles/loan-user-profile.css">
 </head>

  <body>
    <nav class="nav_bar" ng-include="'views/partials/navigation.html'">
    </nav>

     <div class='main' >

         <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
         </aside>
          <div class="right_part" nv-file-drop="" uploader="uploader">
           <div class="width_fix">
             <div class="personal_detail">
                 <h3>Personal Details</h3>
                 <span class="editBtn" ng-click="edit()"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></span>
                 <h4>Profile</h4>
                 <hr>
                 <div class="user_name">
                     <img ng-if = "user.avatar" ng-src="{{user.avatar}}" alt="">
                     <img ng-if = "!user.avatar" ng-src="{{default_img_url}}" alt="">
                    <span><input class='disable' type="text" name="" ng-model="user.first_name" disabled><input class='disable' type="text" name="" ng-model="user.last_name" disabled></span>
                 </div>
                 <input class="upload_input" type="file" nv-file-select uploader="uploader" ng-click="uploader.queue[0].remove()">
                 <div ng-if="uploader.queue[0]" ng-show="uploader.isHTML5" ng-thumb="{ file: uploader.queue[0]._file, width: 100, height: 100 }"></div>
                 <button type="button" ng-if="uploader.queue[0]" ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                     upload
                 </button>
                 <h4>Credentials</h4>
                 <hr>
                 <div class="user_info">
                     <label>Username</label><span>{{user.email||'null'}}</span><br>
                     <label>Password</label><input class="not_display" ng-if="!reset" type="password" placeholder='......' name="" value="" disabled>
                     <input ng-show="reset" class="pass" ng-model="newPass" type="password">&nbsp;<i ng-click="resetPass()" class="fa fa-pencil" aria-hidden="true"></i><br>
                     <label ng-show="reset">Repeat Pass</label>&nbsp;<input ng-show="reset" class="pass" ng-model="RenewPass" type="password"><span style="color:red" ng-if="newPass != RenewPass">please enter the same password</span>
                 </div>

                 <h4>Contact numbers</h4>
                 <hr>
                 <div class="number_message">
                    <label>Mobile</label><span><input class='disable' type="text" ng-model="user.mobile" disabled></span><br>
                    <label>Phone</label><span><input class='disable' type="text" ng-model="user.phone" disabled></span><br>
                    <!--<label>Fax</label><span><input class='disable' type="text" disabled></span><br>-->
                     <label>Date of Birth</label><span><input class="disable" ui-date="dateOptions" ng-model="user.date_of_birth"></span><br>
                    <label class='prefer'>Preferred contact time</label><span><input class='disable' type="text" ng-model="user.preferred_time" disabled></span><br>
                    <label class='prefer'>Preferred contact method</label><span><input class='disable' type="text" ng-model="user.preferred_method" disabled></span>
                 </div>

                 <button class="saveBtn btn btn-default btn-sm" type="button" name="button" ng-click="save()">SAVE</button>
             </div>
           </div>
           <!--user file job list  -->
           <div class="width_fix" style="max-width:1200px !important;">
             <div class="user_job_list">
                 <table class='"table table-striped"'>
                     <thead>
                     <tr>
                         <th style="min-width: 157px;" ng-click="sortObj('name',$event)">NAME &nbsp;<i class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                         <th style="min-width: 157px;" ng-click="sortObj('deal_status.label',$event)">STATUS &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                         <th style="min-width: 137px;" ng-click="sortObj('loan_amount',$event)">LOAN AMOUNT &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                         <!--<th style="min-width: 100px;"><span ng-click="sortObj('first_name',$event)">ASSIGN &nbsp;<i class="fa fa-caret-up fa-lg" aria-hidden="true"></i></span></th>-->
                         <th style="min-width: 141px;" ng-click="sortObj('loan_purpose.label',$event)">LOAN PURPOSE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                         <th style="min-width: 89px;" ng-click="sortObj('broker.name',$event)">BROKER &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                         <th style="min-width: 89px;" ng-click="sortObj('admin.name',$event)">ADMIN &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                         <th style="min-width: 157px;" ng-click="sortObj('repayment_type.label',$event)">REPAYMENT TYPE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>

                     </tr>
                     </thead>

                     <tbody>
                     <tr ng-repeat="item in job
                           | orderBy:sort:desc
                           | startFrom:currentPage * pageAmount.selected.name
                           | limitTo:pageAmount.selected.name
                           track by $index" class='item' ng-click="toApproval(item.id)">
                         <td>
                             <img ng-if="item.avatar" ng-src="{{item.avatar}}" alt="">
                             <img ng-if="!item.avatar" ng-src="{{default_img_url}}" alt="">
                             <span class='name'>{{item.name}}</span>
                         </td>

                         <td>{{item.deal_status.label}}</td>
                         <td>{{item.loan_amount|currency}}</td>
                         <td>{{item.loan_purpose.label}}</td>
                         <td>{{item.broker.name}}</td>
                         <td>{{item.admin.name}}</td>
                         <td>{{item.repayment_type.label}}</td>
                     </tr>

                     </tbody>
                 </table>

                <div class="paging">
                 <div class="page">
                     <ul class="pager">
                         <li ><a href="javascript:;" ng-click="prevPage()"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Prev</a></li>
                         {{currentPage+1}}/{{totalPage}}
                         <li ><a href="javascript:;" ng-click="nextPage()">Next &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                         </li>
                     </ul>
                 </div>
                  <ui-select ng-model="pageAmount.selected" search-enabled="false" class="selectpicker select_page"
                             onkeypress="return false;" ng-disabled="disabled" style="z-index:1;">
                      <ui-select-match placeholder="Select the number of pages">
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (pageAmount|filter:$select.search) track by $index"
                                         style="width:60px;" ng-click="returnToFirst()">
                          <span ng-bind="item.name" style="width:60px;"></span>
                      </ui-select-choices>
                  </ui-select>
               </div>
             </div>
           </div>

          </div>

     </div>

     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
     <script type="text/javascript" src='../scripts/loan-user-profile.js'> </script>
  </body>
</html>
