<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>user profile</title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/libs/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->


    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/loan-user-profile.css">
 </head>

  <body>
     <nav class="nav_bar">
        <div class="brand">Antloans</div>

        <div class="dropdownl">
          <img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">
          <button class="dropbtn">Adam Hunt <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
          <div class="dropdown-content">
            <a ui-sref="user-profile">Profile</a>
            <hr>
            <a href="#">Setting</a>
            <hr>
            <a ui-sref="login">Log out</a>
          </div>
        </div>

        <div class="bell">
        <i class="fa fa-bell fa-lg" aria-hidden="true"><span class='num'>1</span></i>
        </div>
     </nav>

     <div class='main'>

         <aside class="left_bar" data-status='open'>
           <ul>
              <li class='job-bar'><span><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i><a ui-sref="job-list">JOB LIST</a></span></li>
              <li class='doc-bar'><span><i class="fa fa-file-text fa-lg" aria-hidden="true"></i><a ui-sref="documents">DOCUMENT</a></span></li>
              <li class='user-bar'><span><i class="fa fa-user fa-lg" aria-hidden="true"></i><a ui-sref="users">USER</a></span></li>
              <li class='set-bar'><span><i class="fa fa-cog fa-lg" aria-hidden="true"></i><a ui-sref="">SETTING</a></span></li>
              <li class='report-bar'><span><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i><a ui-sref="reports">REPORT</a></span></li>
              <li class='settle-bar'><span><i class="fa fa-check fa-lg" aria-hidden="true"></i></i><a ui-sref="settle">SETTLED</a></span></li>
           </ul>

           <div class="left_arrow"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></div>
         </aside>

          <div class="right_part">
             <div class="personal_detail">
                 <h3>Personal Details</h3>
                 <h4>Profile</h4>
                 <hr>
                 <div class="user_name">
                    <img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp;
                    <span>{{user.firstName||'null'}} {{user.lastName||'null'}}</span>
                 </div>
                 <h4>Credentials</h4>
                 <hr>
                 <div class="user_info">
                     <label>Username</label><span>{{user.email||'null'}}</span><br>
                     <label>Password</label><input type="password" placeholder='......' name="" value="">&nbsp;<i class="fa fa-pencil" aria-hidden="true"></i>
                 </div>
                 <h4>Notifications</h4>
                 <hr>
                 <div class="control">
                     <label>Email notify</label><span><button class='email_notify' type="button" name="button"></button></span><br>
                     <label>SMS notify</label><span><button class='sms_notify' type="button" name="button"></button></span>
                 </div>
             </div>

             <div class="contact_detail">
               <h3>Contact Details</h3>
               <h4>Email address</h4>
               <hr>
               <div class="email_message">
                  <label>Primary</label><span>{{user.email||'null'}}</span><br>
                  <label>Secondary</label><span></span>
               </div>
               <h4>Contact numbers</h4>
               <hr>
               <div class="number_message">
                  <label>Mobile</label><span>{{user.mobile||'null'}}</span><br>
                  <label>Phone</label><span>{{user.phone||'null'}}</span><br>
                  <label>Fax</label><span></span>
               </div>
             </div>
          </div>

     </div>
     <!-- <script src="./assets/js/libs/jquery-3.2.1.min.js"></script>
     <script src="./assets/js/libs/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script> -->
     <!--my js-->
     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
     <script type="text/javascript" src='../scripts/loan-user-profile.js'> </script>
  </body>
</html>
