<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Reset</title>
      <link rel="stylesheet" href="../styles/loan-reset-pw.css">
  </head>
  <body>
     <div id='loan-reset-pw'>
       <div id='reset_bg'>
          <div id="reset">
            <div class="reset_up">
             <h4>Reset your password</h4>
             <p>To update your password enter a new one below.</p>
            </div>

            <div class="reset_down">
              <form class="" ng-submit="user.onSubmit()">
                <label for="" >New password</label>
                <input class='reset-pw_input' type="password" name="" value="" ng-model="user.password">
                <button type="resetBtn" name="button">Save</button>
              </form>
            </div>
          </div>
       </div>
     </div>
  </body>
</html>
