<!DOCTYPE html>
<!--  -->
<html>
  <head>
    <meta charset="utf-8">
    <title>user profile</title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/libs/font-awesome.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css"> -->


    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/loan-user-profile.css">
 </head>

  <body>
    <nav class="nav_bar" ng-include="'views/partials/navigation.html'">
    </nav>

     <div class='main' >

         <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
         </aside>
          <div class="right_part" nv-file-drop="" uploader="uploader">
           <div class="width_fix">
             <div class="personal_detail">
                 <h3>Personal Details</h3>
                 <span class="editBtn" ng-click="edit()"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></span>
                 <h4>Profile</h4>
                 <hr>
                 <div class="user_name">
                     <img ng-if = "user.avatar" ng-src="{{user.avatar}}" alt="">
                     <img ng-if = "!user.avatar" ng-src="{{default_img_url}}" alt="">
                    <span><input class='disable' type="text" name="" ng-model="user.first_name" disabled><input class='disable' type="text" name="" ng-model="user.last_name" disabled></span>
                 </div>
                 <input class="upload_input" type="file" nv-file-select uploader="uploader" ng-click="uploader.queue[0].remove()">
                 <div ng-if="uploader.queue[0]" ng-show="uploader.isHTML5" ng-thumb="{ file: uploader.queue[0]._file, width: 100, height: 100 }"></div>
                 <button type="button" ng-if="uploader.queue[0]" ng-click="uploader.queue[0].upload()" ng-disabled="uploader.queue[0].isReady || uploader.queue[0].isUploading || uploader.queue[0].isSuccess">
                     upload
                 </button>
                 <h4>Credentials</h4>
                 <hr>
                 <div class="user_info">
                     <label>Username</label><span>{{user.email||'null'}}</span><br>
                     <label>Password</label><input class="not_display" ng-if="!reset" type="password" placeholder='......' name="" value="" disabled>
                     <input ng-show="reset" class="pass" ng-model="newPass" type="password">&nbsp;<i ng-click="resetPass()" class="fa fa-pencil" aria-hidden="true"></i><br>
                     <label ng-show="reset">Repeat Pass</label>&nbsp;<input ng-show="reset" class="pass" ng-model="RenewPass" type="password"><span style="color:red" ng-if="newPass != RenewPass">please enter the same password</span>
                 </div>
                 <!--<h4>Notifications</h4>
                 <hr>
                 <div class="control">
                     <label>Email notify</label><span><button class='email_notify' type="button" name="button"></button></span><br>
                     <label>SMS notify</label><span><button class='sms_notify' type="button" name="button"></button></span>
                 </div>-->
                 <!--<h4>Email address</h4>
                 <hr>
                 <div class="email_message">
                    <label>Primary</label><span><input class='disable' type="text" name="" ng-model="user.email" disabled></span><br>
                    <label>Secondary</label><span></span>
                 </div>-->
                 <h4>Contact numbers</h4>
                 <hr>
                 <div class="number_message">
                    <label>Mobile</label><span><input class='disable' type="text" ng-model="user.mobile" disabled></span><br>
                    <label>Phone</label><span><input class='disable' type="text" ng-model="user.phone" disabled></span><br>
                    <!--<label>Fax</label><span><input class='disable' type="text" disabled></span><br>-->
                    <label class='prefer'>Preferred contact time</label><span><input class='disable' type="text" ng-model="user.preferred_time" disabled></span><br>
                    <label class='prefer'>Preferred contact method</label><span><input class='disable' type="text" ng-model="user.preferred_method" disabled></span>
                 </div>

                 <button class="saveBtn btn btn-default btn-sm" type="button" name="button" ng-click="save()">SAVE</button>
             </div>
           </div>
          </div>

     </div>
     <!-- <script src="./assets/js/libs/jquery-3.2.1.min.js"></script>
     <script src="./assets/js/libs/bootstrap.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script> -->
     <!--my js-->
     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
     <script type="text/javascript" src='../scripts/loan-user-profile.js'> </script>
  </body>
</html>
