<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>notification details</title>

    <!--my css-->
    <link rel="stylesheet" href="../styles/notification-details.css">
 </head>

  <body>
    <nav class="nav_bar" ng-include="'views/partials/navigation.html'">
    </nav>

     <div class='main' >

         <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
         </aside>

          <div class="right_part">

           <div class="width_fix">
             <div id="notification_detail">
                 <h3>Notification Details</h3>
                 <h4>Info</h4>
                 <hr>
                 <div class="note_name">
                     <img ng-if="notification.sender_avatar" ng-src="{{notification.sender_avatar}}" alt="">
                     <img ng-if="!notification.sender_avatar" ng-src="{{default_img_url}}" alt="">
                    <span>{{notification.sender_name}}</span>
                 </div>
                 <div class="note_time">
                     {{notification.time|date:'MM/dd/yyyy h:mma'}}
                 </div>
                 <div class="note_message">
                    {{notification.message}}
                 </div>
                 <button id='dealBtn' type="button" ng-click="toDeal(notification.deal_id)">Deal</button>
                 <h4>Details</h4>
                 <hr>
                 <div class="note_details">
                   <p></p>
                 </div>

             </div>
           </div>
          </div>

     </div>

     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
  </body>
</html>
