<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>report analytics</title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/libs/font-awesome.css"> -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">


    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/report-analytics.css">
</head>

<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">
        <section class='tool_bar'>
            <div class="width_fix">

                <div class="tool_top">
                    <h3>Report</h3>
                    <div class="data_show">
                        <div class="deal_total amount_box">
                            <div class=""><span>Total Loan Amount: </span><br><span class='data'> {{total_loan_amount|currency:"$":0}}</span>&nbsp;
                            </div>
                        </div>
                        <div class="settle_total amount_box">
                            <div class=""><span>Average Loan Amount: </span><br><span class='data'>{{average_loan_amount|currency:"$":0}}</span>&nbsp;
                            </div>
                        </div>
                        <!--<div class="overdue_total">
                          <div class=""><span class='data'>28</span>&nbsp;<span>overdue</span></div>
                          <img width="127px" height="27px;" src="./images/data-bar.png" alt="">
                        </div>-->
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="" style="height:50px;">
                    <div class='search_input' style="display:none">
                        <div class="input-group margin-bottom-sm">
                            <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                            <input class="form-control" type="text" placeholder="SEARCH" ng-model="searchInput">
                        </div>
                    </div>
                </div>
                <div class='tool_bar_above'>
                    <div class="buttons">
                        <button id='analytics_btn' class='show_light' type="button" name="button">ANALYTICS</button>
                        <!-- <button id='sales_btn' class='' type="button" name="button">SALES</button>
                        <button id='deals_btn' class='' type="button" name="button">DEALS</button> -->
                        <button id='log_btn' class='' type="button" name="button" ng-if="user.role=='super admin'">LOG</button>
                    </div>
                    <div class="page_num" style="display:none">
                        <div class="page">
                            <ul class="pager">
                                <li><a href="javascript:;" ng-click="prevPage()"><i class="fa fa-chevron-left"
                                                                                    aria-hidden="true"></i>&nbsp;
                                    Prev</a>
                                </li>
                                {{currentPage+1}}/{{totalPage}}
                                <li><a href="javascript:;" ng-click="nextPage()">Next &nbsp;<i
                                        class="fa fa-chevron-right"
                                        aria-hidden="true"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <div class="width_fix">
            <!-- charts content  -->
            <div id="charts_list">
                <!--line chart-->
                <div class="charts_list">
                    <div class="payments_received">
                        <div class="payments_left">
                            <h4>Payments Received</h4>
                            <h5 class="avg p_amount">Average Per Deal: <br>{{data.average_loan_amount_per_deal|currency:"$":0}}
                            </h5>
                            <h5 class="avg p_amount">Average Amount: <br>{{data.average_loan_amount|currency:"$":0}}
                            </h5>
                            <h5 class="total p_amount">Total Amount: <br>{{data.total_loan_amount|currency:"$":0}}
                            </h5>
                            <div class="clear"></div>
                            <div google-chart chart="LineChart"></div>
                        </div>
                        <div class="payments_right">
                            <div class="time_frame">
                                <label>TIME FRAME:</label>
                                <ui-select ng-model="timeFrame.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in timeFrame track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div class="start_date" style="display:inline-block;width:180px;">
                                <label>FROM:</label><br>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="startDate" is-open="popup1.opened" datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                         <button type="button" class="btn btn-default" ng-click="open1()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                    </span>
                                </p>
                            </div>
                            <div class="close_date" style="display:inline-block;width:180px;">
                                <label>TO:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="endDate" is-open="popup2.opened" datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                         <button type="button" class="btn btn-default" ng-click="open2()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                    </span>
                                </p>
                            </div>
                            <br>
                            <!--<div style="display:inline-block">
                                <label>FILTER BY:</label>
                                <ui-select ng-model="filter_by.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in filter_by track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>-->
                            <!--<div ng-if="filter_by.selected == filter_by[1]">
                                <label>USER TYPE:</label>
                                <ui-select ng-model="user_type.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in user_type track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>-->
                            <div>
                                <label>BANK:</label>
                                <ui-select ng-model="banks.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in banks track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div>
                                <label>LOAN TYPE:</label>
                                <ui-select ng-model="loan_type.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in loan_type track by $index">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div>
                                <label>LOAN STATUS</label>
                                <ui-select ng-model="loan_status.selected" class="selectpicker select_page"
                                           style="width:240px;display:inline-block;">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.label"></span>
                                    </ui-select-match>
                                    <ui-select-choices
                                            repeat="item in loan_status | propsFilter:{label:$select.search} track by $index">
                                        <span ng-bind="item.label"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <div>
                                <label>PROCESSING TIME</label><br>
                                <span>No more than </span><input style="width:90px;" class="btn btn-default"
                                                                 type="number"
                                                                 ng-model="processing_time"><span> Days</span>
                            </div>
                            <br>

                            <button type="button" class="apply-btn" name="button" ng-click="applyFilter1()">APPLY
                            </button>
                            <button type="button" class="apply-btn" name="button" ng-click="applyOwnFilter()">APPLY
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="clear"></div>
                </div>
                <!--bar chart-->
                <div class="charts_list" ng-if="user.role=='supervisor' || user.role=='super admin'">
                    <div class="payments_received">
                        <div class="payments_left">
                            <h4>Payments Received</h4>
                            <!--<h5 class="avg p_amount">Average Per Deal: <br>{{data_bar.average_loan_amount_per_deal|currency:"$":0}}
                            </h5>-->
                            <h5 class="avg p_amount">Average Amount: <br>{{data_bar.average_loan_amount|currency:"$":0}}
                            </h5>
                            <h5 class="total p_amount">Total Amount: <br>{{data_bar.total_loan_amount|currency:"$":0}}
                            </h5>
                            <div class="clear p_amount"></div>
                            <div google-chart chart="BarChart"></div>
                        </div>

                        <div class="payments_right">
                            <div class="start_date" style="display:inline-block;width:180px;">
                                <label>FROM:</label><br>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="startDate2" is-open="popup3.opened"
                                           datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                         <button type="button" class="btn btn-default" ng-click="open3()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                    </span>
                                </p>
                            </div>
                            <div class="close_date" style="display:inline-block;width:180px;">
                                <label>TO:</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br>
                                <p class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}"
                                           ng-model="endDate2" is-open="popup4.opened" datepicker-options="dateOptions"
                                           ng-required="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                    <span class="input-group-btn">
                                         <button type="button" class="btn btn-default" ng-click="open4()">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                         </button>
                                    </span>
                                </p>
                            </div>

                            <div style="display:inline-block">
                                <label>FILTER BY:</label><br>
                                <div class="btn-group">
                                    <label class="btn btn-default" ng-click="changeRole('admin')" ng-model="radioModel" uib-btn-radio="'admin'" >Admin</label>
                                    <label class="btn btn-default" ng-click="changeRole('broker')" ng-model="radioModel" uib-btn-radio="'broker'" >Broker</label>
                                    <label class="btn btn-default" ng-click="changeRole('bank')" ng-model="radioModel" uib-btn-radio="'bank'">Bank</label>
                                </div>
                                <!--<ui-select ng-model="filter_by_bar.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in filter_by_bar track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>-->
                            </div>
                            <br>

                            <!--<div ng-if="filter_by_bar.selected.name == 'User Type'">
                                <label>Admin:</label>
                                <ui-select ng-model="user_type_admin.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in user_type_admin track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>-->


                            <!--<ui-select multiple ng-model="admins.selected"
                                       ng-if="filter_by_bar.selected.name == 'User Type' && user_type_admin.selected.name == 'Customize'"
                                       theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false"
                                       style="width:250px;margin-top:5px;">
                                <ui-select-match placeholder="Type to search admin">{{$item.first_name}}
                                    {{$item.last_name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in admins | propsFilter: {email: $select.search,name: $select.search}">
                                    <strong>
                                        <div ng-bind-html="item.name | highlight:$select.search"></div>
                                    </strong>
                                    <small>{{item.email}}</small>
                                </ui-select-choices>
                            </ui-select>-->

                            <!--<div ng-if="filter_by_bar.selected.name == 'User Type'">
                                <label>Broker:</label>
                                <ui-select ng-model="user_type_broker.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in user_type_broker track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <ui-select multiple ng-model="brokers.selected"
                                       ng-if="filter_by_bar.selected.name == 'User Type' && user_type_broker.selected.name == 'Customize'"
                                       theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false"
                                       style="width:250px;margin-top:5px;">
                                <ui-select-match placeholder="Type to search broker">{{$item.first_name}}
                                    {{$item.last_name}}
                                </ui-select-match>
                                <ui-select-choices
                                        repeat="item in brokers | propsFilter: {email: $select.search,name: $select.search}">
                                    <strong>
                                        <div ng-bind-html="item.name | highlight:$select.search"></div>
                                    </strong>
                                    <small>{{item.email}}</small>
                                </ui-select-choices>
                            </ui-select>-->

                            <!--bank-->
                            <!--<div ng-if="filter_by_bar.selected.name == 'Bank'">
                                <ui-select ng-model="bank_type.selected"
                                           search-enabled="false" class="selection"
                                           onkeypress="return false;" ng-disabled="disabled">
                                    <ui-select-match>
                                        <span ng-bind="$select.selected.name"></span>
                                    </ui-select-match>
                                    <ui-select-choices repeat="item in bank_type track by $index">
                                        <span ng-bind="item.name"></span>
                                    </ui-select-choices>
                                </ui-select>
                            </div>
                            <ui-select multiple ng-model="multi_bank.selected"
                                       ng-if="filter_by_bar.selected.name == 'Bank' && bank_type.selected.name == 'Customize'"
                                       theme="bootstrap" ng-disabled="ctrl.disabled" close-on-select="false"
                                       style="width:250px;margin-top:5px;">
                                <ui-select-match placeholder="Type to search bank">{{$item.name}}</ui-select-match>
                                <ui-select-choices repeat="item in multi_bank | propsFilter: {name: $select.search}">
                                    <strong>
                                        <div ng-bind-html="item.name | highlight:$select.search"></div>
                                    </strong>
                                </ui-select-choices>
                            </ui-select>-->

                            <button type="button" class="apply-btn" name="button" ng-click="applyFilter2()">APPLY
                            </button>
                        </div>
                    </div>
                    <br>
                    <div class="clear"></div>
                </div>
            </div>

            <!-- log content -->
            <div id="log_list">
                <div class='user_list'>
                    <table class='"table table-striped"'>
                        <thead>
                        <tr>
                            <th ng-click="sortObj('user',$event)">USER&nbsp;<i class="fa fa-caret-up fa-lg"
                                                                               aria-hidden="true"></i></th>
                            <th ng-click="sortObj('action',$event)">ACTION &nbsp;<i class="fa fa-caret-up fa-lg"
                                                                                    aria-hidden="true"></i></th>
                            <!--<th ng-click="sortObj('content',$event)" style="min-width:150px;">CONTENT &nbsp;<i class="fa fa-caret-up fa-lg" aria-hidden="true"></i></th>-->
                            <th ng-click="sortObj('createAt',$event)">TIME &nbsp;<i class="fa fa-caret-up fa-lg"
                                                                                    aria-hidden="true"></i></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in logs
                            | orderBy:sort:desc
                            | filter:searchInput
                            | startFrom:currentPage * pageAmount.selected.name
                            | limitTo:pageAmount.selected.name
                         track by $index">
                            <td>{{item.user}}</td>
                            <td>{{item.action}}</td>
                            <!--<td>{{item.content}}</td>-->
                            <td>{{item.createAt|date:"MM/dd/yyyy h:mma"}}</td>
                        </tr>
                        </tbody>

                    </table>


                </div>
            </div>

        </div>

    </div>
    <!-- width_fix end -->
</div>

</div>
<!-- <script src="./assets/js/libs/jquery-3.2.1.min.js"></script>
<script src="./assets/js/libs/bootstrap.min.js"></script> -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
<!--my js-->
<script type="text/javascript" src="../scripts/loan-job-list.js"></script>
<script type="text/javascript" src="../scripts/report-analytics.js"></script>
</body>
</html>
