<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>report analytics</title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/libs/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">


    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/report-analytics.css">
 </head>

  <body>
    <nav class="nav_bar" ng-include="'views/partials/navigation.html'">
    </nav>

     <div class='main'>

           <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
           </aside>

           <div class="right_part">
              <section class='tool_bar'>
              <div class="width_fix">

                 <div class="tool_top">
                    <h3>Report</h3>

                    <div class="data_show">
                        <div class="deal_total">
                          <div class=""><span class='data'>400</span>&nbsp;<span>deals</span></div>
                          <img width="127px" height="27px;" src="./images/data-bar.png" alt="">
                        </div>
                        <div class="settle_total">
                          <div class=""><span class='data'>123</span>&nbsp;<span>settled</span></div>
                          <img width="127px" height="27px;" src="./images/data-bar.png" alt="">
                        </div>
                        <div class="overdue_total">
                          <div class=""><span class='data'>28</span>&nbsp;<span>overdue</span></div>
                          <img width="127px" height="27px;" src="./images/data-bar.png" alt="">
                        </div>
                    </div>
                 <div class="clear"></div>
                 </div>

                 <div class='tool_bar_above'>
                    <div class="buttons">
                       <button id='analytics_btn' class='show_light' type="button" name="button">ANALYTICS</button>
                       <button id='sales_btn' class='' type="button" name="button">SALES</button>
                       <button id='deals_btn' class='' type="button" name="button">DEALS</button>
                       <button id='log_btn' class='' type="button" name="button">LOG</button>
                    </div>


                    <div class="page">
                        <ul class="pager">
                          <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Prev</a></li>
                          <li><a href="#">Next &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>

              </div>
              </section>


              <div class="width_fix">

              <!-- charts content  -->
              <div id="charts_list">
                 <div class="payments_received" ng-controller="lineChartCtrl">
                     <div class="payments_left">
                         <h4>Payments Received</h4>
                         <div class="clear"></div>
                         <div class="payments_chart">
                             <canvas id="line" class="chart chart-line" chart-data="data"
                                     chart-labels="labels" chart-series="series" chart-options="options"
                                     chart-dataset-override="datasetOverride" chart-click="onClick">
                             </canvas>
                         </div>
                     </div>

                     <div class="payments_right">
                        <h4>{{totalamount|currency}}</h4>
                        <p>Total Income</p>

                        <h5>{{total.credit|currency}}</h5>
                        <img width="127px" height="27px;" src="./images/data-bar2.png" alt="">
                        <p>Credit Card Payments</p>

                        <h5>{{total.paypal|currency}}</h5>
                        <img width="127px" height="27px;" src="./images/data-bar2.png" alt="">
                        <p>PayPal Payments</p>

                        <button type="button" name="button">APPLY</button>
                     </div>
                 </div>
                 <br>

                 <div class="payments_received" ng-controller="lineChartCtrl">
                     <div class="payments_left">
                         <h4>Payments Received</h4>
                         <div class="clear"></div>
                         <div class="payments_chart">
                             <canvas id="line" class="chart chart-line" chart-data="data"
                                     chart-labels="labels" chart-series="series" chart-options="options"
                                     chart-dataset-override="datasetOverride" chart-click="onClick">
                             </canvas>
                         </div>
                     </div>

                     <div class="payments_right">
                        <h4>{{totalamount|currency}}</h4>
                        <p>Total Income</p>

                        <h5>{{total.credit|currency}}</h5>
                        <img width="127px" height="27px;" src="./images/data-bar2.png" alt="">
                        <p>Credit Card Payments</p>

                        <h5>{{total.paypal|currency}}</h5>
                        <img width="127px" height="27px;" src="./images/data-bar2.png" alt="">
                        <p>PayPal Payments</p>

                        <button type="button" name="button">APPLY</button>
                     </div>
                 </div>

                 <!-- <div class="chartl lined_chart">
                    <div class="chart_name">
                      <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                      <span class="chart_name2">Lined Chart</span>
                      <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                    </div>

                    <div class="diagram" ng-controller="lineChartCtrl">
                        <canvas id="line2" class="chart chart-line" chart-data="data"
                                chart-labels="labels" chart-series="series" chart-options="options"
                                chart-dataset-override="datasetOverride" chart-click="onClick">
                        </canvas>
                    </div>

                 </div> -->

                 <!-- <div class="chartl donut_chart" data-drag="true">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Donut Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram donut" ng-controller="donutChartCtrl" style="position: relative; height:12vh; width:12vw">
                       <canvas id="donut" class="chart chart-doughnut" chart-data="data"
                               chart-labels="labels">
                       </canvas>
                   </div>

                 </div> -->

                 <!-- <div class="chartl scatter_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Scatter Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>
                   <div class="diagram" ng-controller="scatterChartCtrl">
                       <canvas id="line3" class="chart chart-line" chart-data="data"
                               chart-labels="labels" chart-series="series" chart-options="options"
                               chart-dataset-override="datasetOverride" chart-click="onClick">
                       </canvas>
                   </div>

                 </div> -->

                 <!-- <div class="chartl polar_line_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Polar Line Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram polar" ng-controller="polarAreaCtrl" style="position: relative; height:12vh; width:12vw">
                       <canvas id="polar-area" class="chart chart-polar-area"
                               chart-data="data" chart-labels="labels" chart-options="options">
                       </canvas>
                   </div>

                 </div> -->

                 <!-- <div class="chartl vertical_grouped_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Vertical Grouped Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram" ng-controller="barChartCtrl">
                       <canvas id="bar" class="chart chart-horizontalBar"
                               chart-data="data" chart-labels="labels" chart-options="options" chart-series="series">
                       </canvas>
                   </div>

                 </div> -->

                 <!-- <div class="chartl polar_area_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Polar Area Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram radar" ng-controller="radarCtrl" style="position: relative; height:20vh; width:20vw">
                       <canvas id="radar" class="chart chart-radar"
                               chart-data="data" chart-options="options" chart-labels="labels">
                       </canvas>
                   </div>
                 </div> -->



              <div class="clear"></div>
              </div>


              <!--sales content  -->
              <div id="sales_list">
                <div class='user_list'>
                   <table class='"table table-striped"'>
                      <thead>
                        <tr><th>CLIENT NAME &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>LAST ACTIVITY &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>CLIENT TYPE &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACCOUNT MANAGER &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACTIONS</th>
                            </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      </tbody>

                   </table>

                   <div class="page_message">
                      <p>Showing 1-9 of 118</p>
                   </div>
                </div>

              </div>

              <!-- deals content -->
              <div id="deals_list">
                <div class='user_list'>
                   <table class='"table table-striped"'>
                      <thead>
                        <tr><th>CLIENT NAME &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>LAST ACTIVITY &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>CLIENT TYPE &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACCOUNT MANAGER &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACTIONS</th>
                            </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      </tbody>

                   </table>

                   <div class="page_message">
                      <p>Showing 1-9 of 118</p>
                   </div>
                </div>

              </div>


              <!-- log content -->
              <div id="log_list">
                <div class='user_list'>
                   <table class='"table table-striped"'>
                      <thead>
                        <tr><th>CLIENT NAME &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>LAST ACTIVITY &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>DICIMUS ALIQUEM &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACTIONS</th>
                            </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas </td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      </tbody>

                   </table>

                   <div class="page_message">
                      <p>Showing 1-9 of 118</p>
                   </div>
                </div>

              </div>

            </div>
            <!-- width_fix end -->
          </div>

     </div>
     <!-- <script src="./assets/js/libs/jquery-3.2.1.min.js"></script>
     <script src="./assets/js/libs/bootstrap.min.js"></script> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
     <!--my js-->
     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
     <script type="text/javascript" src="../scripts/report-analytics.js"></script>
  </body>
</html>
