<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>report analytics</title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/libs/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">


    <!--my css-->
    <link rel="stylesheet" href="../styles/nav_bar.css">
    <link rel="stylesheet" href="../styles/report-analytics.css">
 </head>

  <body>
     <nav class="nav_bar">
        <div class="brand">Antloans</div>

        <div class="dropdownl">
          <img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">
          <button class="dropbtn">Adam Hunt <i class="fa fa-chevron-down" aria-hidden="true"></i></button>
          <div class="dropdown-content">
            <a ui-sref="user-profile">Profile</a>
            <hr>
            <a href="#">Setting</a>
            <hr>
            <a ui-sref="login">Log out</a>
          </div>
        </div>

        <div class="bell">
        <i class="fa fa-bell fa-lg" aria-hidden="true"><span class='num'>1</span></i>
        </div>
     </nav>

     <div class='main'>

           <aside class="left_bar" data-status='open'>
             <ul>
                <li class='job-bar'><span><i class="fa fa-lightbulb-o fa-lg" aria-hidden="true"></i><a ui-sref="job-list">JOB LIST</a></span></li>
                <li class='doc-bar'><span><i class="fa fa-file-text fa-lg" aria-hidden="true"></i><a ui-sref="documents">DOCUMENT</a></span></li>
                <li class='user-bar'><span><i class="fa fa-user fa-lg" aria-hidden="true"></i><a ui-sref="users">USER</a></span></li>
                <li class='set-bar'><span><i class="fa fa-cog fa-lg" aria-hidden="true"></i><a ui-sref="">SETTING</a></span></li>
                <li class='report-bar'><span><i class="fa fa-tachometer fa-lg" aria-hidden="true"></i><a ui-sref="reports">REPORT</a></span></li>
                <li class='settle-bar'><span><i class="fa fa-check fa-lg" aria-hidden="true"></i></i><a ui-sref="settle">SETTLED</a></span></li>
             </ul>

             <div class="left_arrow"><i class="fa fa-chevron-left fa-2x" aria-hidden="true"></i></div>
           </aside>

           <div class="right_part">
              <section class='tool_bar'>

                 <div class="tool_top">
                    <h3>Report</h3>

                    <div class="data_show">
                        <div class="deal_total">
                          <div class=""><span class='data'>400</span>&nbsp;<span>deals</span></div>
                          <img width="127px" height="27px;" src="./images/data-bar.png" alt="">
                        </div>
                        <div class="settle_total">
                          <div class=""><span class='data'>123</span>&nbsp;<span>settled</span></div>
                          <img width="127px" height="27px;" src="./images/data-bar.png" alt="">
                        </div>
                        <div class="overdue_total">
                          <div class=""><span class='data'>28</span>&nbsp;<span>overdue</span></div>
                          <img width="127px" height="27px;" src="./images/data-bar.png" alt="">
                        </div>
                    </div>
                 <div class="clear"></div>
                 </div>

                 <div class='tool_bar_above'>
                    <div class="buttons">
                       <button id='analytics_btn' class='show_light' type="button" name="button">ANALYTICS</button>
                       <button id='sales_btn' class='' type="button" name="button">SALES</button>
                       <button id='deals_btn' class='' type="button" name="button">DEALS</button>
                       <button id='log_btn' class='' type="button" name="button">LOG</button>
                    </div>


                    <div class="page">
                        <ul class="pager">
                          <li><a href="#"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Prev</a></li>
                          <li><a href="#">Next &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>

                </div>
              </section>

              <!-- charts content  -->
              <div id="charts_list">
                 <div class="payments_reveived">
                     <div class="payments_left">
                         <h4>Payments Received</h4>
                         <label for=""><div class="paypal" style='background-color:#49A5C3'></div>&nbsp; PayPal</label>
                         <label for=""><div class="credit" style='background-color:#29A89F'></div>&nbsp; Credit Card</label>
                         <div class="clear"></div>

                         <div class="payments_chart">
                             <img width='100%' height='250px' src="./images/charts/payments_chart.png" alt="">
                         </div>


                     </div>

                     <div class="payments_right">
                        <h4>$8.958,00</h4>
                        <p>Total Income</p>

                        <h5>$2.582,00</h5>
                        <img width="127px" height="27px;" src="./images/data-bar2.png" alt="">
                        <p>Credit Card Payments</p>

                        <h5>$4.521,00</h5>
                        <img width="127px" height="27px;" src="./images/data-bar2.png" alt="">
                        <p>PayPal Payments</p>

                        <button type="button" name="button">VIEW REPORTS</button>
                     </div>
                 </div>

                 <div class="chart lined_chart">
                    <div class="chart_name">
                      <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                      <span class="chart_name2">Lined Chart</span>
                      <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                    </div>

                    <div class="diagram">
                      <img width="250px" height='188px' src="./images/charts/line-chart.png" alt="">
                    </div>

                 </div>

                 <div class="chart donut_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Donut Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram">
                     <img width="250px" height='188px'src="./images/charts/donut-chart.png" alt="">
                   </div>

                 </div>

                 <div class="chart scatter_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Scatter Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>
                   <div class="diagram">
                     <img width="250px" height='188px'src="./images/charts/scatter-chart.png" alt="">
                   </div>

                 </div>

                 <div class="chart polar_line_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Polar Line Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram">
                     <img width="250px" height='188px'src="./images/charts/polar-line-chart.png" alt="">
                   </div>

                 </div>

                 <div class="chart vertical_grouped_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Vertical Grouped Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram">
                     <img width="250px" height='188px'src="./images/charts/vertical-chart.png" alt="">
                   </div>

                 </div>

                 <div class="chart polar_area_chart">
                   <div class="chart_name">
                     <span class="chart_name1"><i class="fa fa-arrows" aria-hidden="true"></i></span>
                     <span class="chart_name2">Polar Area Chart</span>
                     <span class="chart_name3"><i class="fa fa-cog" aria-hidden="true"></i></span>
                   </div>

                   <div class="diagram">
                     <img width="250px" height='188px'src="./images/charts/polar-area-chart.png" alt="">
                   </div>

                 </div>



              <div class="clear"></div>
              </div>


              <!--sales content  -->
              <div id="sales_list">
                <div class='user_list'>
                   <table class='"table table-striped"'>
                      <thead>
                        <tr><th>CLIENT NAME &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>LAST ACTIVITY &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>CLIENT TYPE &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACCOUNT MANAGER &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACTIONS</th>
                            </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      </tbody>

                   </table>

                   <div class="page_message">
                      <p>Showing 1-9 of 118</p>
                   </div>
                </div>

              </div>

              <!-- deals content -->
              <div id="deals_list">
                <div class='user_list'>
                   <table class='"table table-striped"'>
                      <thead>
                        <tr><th>CLIENT NAME &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>LAST ACTIVITY &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>CLIENT TYPE &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACCOUNT MANAGER &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACTIONS</th>
                            </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Supervisor</td>
                          <td>David Cutter</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      </tbody>

                   </table>

                   <div class="page_message">
                      <p>Showing 1-9 of 118</p>
                   </div>
                </div>

              </div>


              <!-- log content -->
              <div id="log_list">
                <div class='user_list'>
                   <table class='"table table-striped"'>
                      <thead>
                        <tr><th>CLIENT NAME &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>LAST ACTIVITY &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>DICIMUS ALIQUEM &nbsp;<i class="fa fa-caret-down fa-lg" aria-hidden="true"></i></th>
                            <th>ACTIONS</th>
                            </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas </td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>

                        <tr>
                          <td><img src="http://www.bloglet.com/gallery/small-pets/small-pets1.jpg" alt="">&nbsp; Jenny Chen</td>
                          <td>12/08/16</td>
                          <td>Null fetoas asss hahahah</td>
                          <td><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp; &nbsp;
                            <a href="#"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                          </td>
                        </tr>
                      </tbody>

                   </table>

                   <div class="page_message">
                      <p>Showing 1-9 of 118</p>
                   </div>
                </div>

              </div>



          </div>

     </div>
     <!-- <script src="./assets/js/libs/jquery-3.2.1.min.js"></script>
     <script src="./assets/js/libs/bootstrap.min.js"></script> -->
     <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js"></script>
     <!--my js-->
     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
     <script type="text/javascript" src="../scripts/report-analytics.js"></script>
  </body>
</html>
