<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>loan-settled-list</title>

    <!--my css-->
    <link rel="stylesheet" href="../styles/settled-list.css">
</head>

<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main'>

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">
      <section class='tool_bar'>
          <div class="width_fix" style="position:relative">
              <div class="tool_top">
                  <h3>Settled Job List</h3>
                  <button type="button" name="button" ui-sref="create-job"><i class="fa fa-plus-circle fa-lg"
                                                                              aria-hidden="true"></i>&nbsp;
                      Create Job
                  </button>
              </div>

              <div class='tool_bar_above'>
                  <div class='search_input'>
                      <div class="input-group margin-bottom-sm">
                          <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                          <input class="form-control" type="text" placeholder="SEARCH" ng-model="searchInput">
                      </div>
                  </div>

                  <div class="page">
                      <ul class="pager">
                          <li><a href="javascript:;" ng-click="prevPage()"><i class="fa fa-chevron-left"
                                                                              aria-hidden="true"></i>&nbsp; Prev</a>
                          </li>
                          {{currentPage+1}}/{{totalPage}}
                          <li><a href="javascript:;" ng-click="nextPage()">Next &nbsp;<i class="fa fa-chevron-right"
                                                                                         aria-hidden="true"></i></a>
                          </li>
                      </ul>
                  </div>
                  <ui-select ng-model="pageAmount.selected" search-enabled="false" class="selectpicker select_page"
                             onkeypress="return false;" ng-disabled="disabled">
                      <ui-select-match placeholder="Select the number of pages">
                          <span ng-bind="$select.selected.name"></span>
                      </ui-select-match>
                      <ui-select-choices repeat="item in (pageAmount|filter:$select.search) track by $index"
                                         style="width:60px;" ng-click="returnToFirst()">
                          <span ng-bind="item.name" style="width:60px;"></span>
                      </ui-select-choices>
                  </ui-select>
              </div>

              <div class="tool_bar_middle">
                  <hr>

                 <div class="settle_date"><strong>SETTLEMENT DATE</strong></div>
                 <div class="start_date">
                     <label>FROM:</label>
                     <input class="btn btn-default" ui-date ng-model="startDate">
                 </div>
                 <div class="close_date">
                     <label>TO:</label>
                     <input class="btn btn-default" ui-date ng-model="endDate">
                 </div>

                  <div class="bank">
                      <label>BANK:</label>
                      <ui-select ng-model="banks.selected" on-select="filterBankId(banks.selected)"
                                 search-enabled="true" class="bank_input selectpicker select_page">
                          <ui-select-match>
                              <span ng-bind="$select.selected.name"></span>
                          </ui-select-match>
                          <ui-select-choices repeat="item in banks | propsFilter:{name:$select.search} track by $index">
                              <span ng-bind="item.name"></span>
                          </ui-select-choices>
                      </ui-select>
                  </div>

                  <div class="broker">
                      <label>BROKER:</label>
                      <ui-select ng-model="brokers.selected" on-select="filterUser(brokers.selected,'broker')"
                                 class="broker_input selectpicker select_page" style="width:220px;">
                          <ui-select-match>
                              <span ng-bind="$select.selected.first_name +' '+$select.selected.last_name"></span>
                          </ui-select-match>
                          <ui-select-choices
                                  repeat="item in brokers | propsFilter:{first_name:$select.search,last_name:$select.search} track by $index">
                              <span ng-bind="item.first_name"></span><span ng-bind="item.last_name"></span>
                          </ui-select-choices>
                      </ui-select>
                  </div>
                  <div class="admin">
                      <label>ADMIN:</label>
                      <ui-select ng-model="admins.selected" class="admin_input selectpicker select_page"
                                 style="width:220px;">
                          <ui-select-match>
                              <span ng-bind="$select.selected.first_name +' '+$select.selected.last_name"></span>
                          </ui-select-match>
                          <ui-select-choices
                                  repeat="item in admins | propsFilter:{first_name:$select.search,last_name:$select.search} track by $index">
                              <span ng-bind="item.first_name"></span><span ng-bind="item.last_name"></span>
                          </ui-select-choices>
                      </ui-select>
                  </div>
              </div>

          </div>
       </section>

        <div class="width_fix">
            <div class="content">
                <div class="settled_list">
                    <table class='"table table-striped"'>
                        <thead>
                        <tr>
                            <th style="width: 160px;" ng-click="sortObj('name',$event)">NAME &nbsp;<i class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                            <th style="width: 150px;" ng-click="sortObj('deal_status.label',$event)">STATUS &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                            <th style="width: 137px;" ng-click="sortObj('loan_amount',$event)">LOAN AMOUNT &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                            <th style="width: 130px;" ng-click="sortObj('bank.name',$event)">LENDER &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                            <!--<th style="min-width: 100px;"><span ng-click="sortObj('first_name',$event)">ASSIGN &nbsp;<i class="fa fa-caret-up fa-lg" aria-hidden="true"></i></span></th>-->
                            <!-- <th style="width: 141px;" ng-click="sortObj('loan_purpose.label',$event)">LOAN PURPOSE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th> -->
                            <th style="width: 89px;" ng-click="sortObj('broker.name',$event)" ng-if="user.role == 'admin' || user.role == 'super admin' || user.role=='supervisor'">BROKER &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                            <th style="width: 89px;" ng-click="sortObj('admin.name',$event)" ng-if="user.role == 'broker' || user.role == 'super admin' || user.role=='supervisor'">ADMIN &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                            <!-- <th style="width: 157px;" ng-click="sortObj('repayment_type.label',$event)">REPAYMENT TYPE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th> -->
                            <th style="width: 130px;" ng-click="sortObj('update_at',$event)">LAST UPDATE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                            <th style="width: 140px;" ng-click="sortObj('settlement_date',$event)">SETTLEMENT DATE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                        </tr>
                        </thead>

                        <tbody>
                        <tr ng-repeat="item in job
                      | orderBy:sort:desc
                      | filter:searchInput
                      | statusFilter:jobStatus
                      | bankFilter:searchBank
                      | userFilter:userType:userId
                      | dateFilter:startDate:endDate
                      | startFrom:currentPage * pageAmount.selected.name
                      | limitTo:pageAmount.selected.name
                      track by $index" class='item' ng-click="toApproval(item.id)">
                            <td>
                                <img ng-if="item.avatar" ng-src="{{item.avatar}}" alt="">
                                <img ng-if="!item.avatar" ng-src="{{default_img_url}}" alt="">
                                <span class='name'>{{item.name}}</span>
                            </td>

                            <td>{{item.deal_status.label}}</td>
                            <td>{{item.loan_amount|currency}}</td>
                            <td>{{item.bank.name}}</td>
                            <!-- <td>{{item.loan_purpose.label}}</td> -->
                            <td ng-if="user.role == 'admin' || user.role == 'super admin' || user.role=='supervisor'">{{item.broker.name}}</td>
                            <td ng-if="user.role == 'broker' || user.role == 'super admin' || user.role=='supervisor'">{{item.admin.name}}</td>
                            <!-- <td>{{item.repayment_type.label}}</td> -->
                            <td>{{item.update_at | date:'MM/dd/yyyy'}}</td>
                            <td>{{item.settlement_date | date:'MM/dd/yyyy'}}</td>
                        </tr>

                        </tbody>
                    </table>
                    <div class="page_num">
                      <span>Page: {{currentPage+1}}/{{totalPage}}</span>
                    </div>
                </div>

            </div>  <!-- content end   -->

        </div>
    </div>
</div>
<!--my js-->
<script type="text/javascript" src="../scripts/loan-job-list.js"></script>
</body>
</html>
