<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>user-list</title>
    <!-- <link rel="stylesheet" type="text/css" href="./assets/css/libs/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="./assets/css/libs/font-awesome.css"> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css">


    <!--my css-->
    <!-- <link rel="stylesheet" href="../styles/nav_bar.css"> -->
    <link rel="stylesheet" href="../styles/user-list.css">
 </head>

  <body>
    <nav class="nav_bar" ng-include="'views/partials/navigation.html'">
    </nav>

     <div class='main'>

           <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
           </aside>

           <div class="right_part">
              <section class='tool_bar'>
                <div class="width_fix" style="position:relative">

                 <div class="tool_top">
                    <h3>Users</h3>
                    <button type="button" name="button" ui-sref="create-user"><i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>&nbsp; Add Users</button>
                 </div>

                 <div class='tool_bar_above'>
                    <div class='search_input'>
                      <div class="input-group margin-bottom-sm">
                        <span class="input-group-addon"><i class="fa fa-search fa-fw"></i></span>
                          <input class="form-control" type="text" placeholder="SEARCH" ng-model="searchInput">
                      </div>
                    </div>
                    <div class="page">
                        <ul class="pager">
                            <li ><a href="javascript:;" ng-click="prevPage()"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Prev</a></li>
                            {{currentPage+1}}/{{totalPage}}
                            <li ><a href="javascript:;" ng-click="nextPage()">Next &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                     <ui-select ng-model="pageAmount.selected" search-enabled="false" class="selectpicker select_page"
                                onkeypress="return false;" ng-disabled="disabled" style="z-index:1;">
                         <ui-select-match placeholder="Select the number of pages">
                             <span ng-bind="$select.selected.name"></span>
                         </ui-select-match>
                         <ui-select-choices repeat="item in (pageAmount|filter:$select.search) track by $index"
                                            style="width:60px;" ng-click="returnToFirst()">
                             <span ng-bind="item.name" style="width:60px;"></span>
                         </ui-select-choices>
                     </ui-select>
                  </div>
                </div>
              </section>

              <div class="width_fix">
              <div id="user">
                 <div class='user_list'>
                    <table class='"table table-striped"'>
                       <thead>
                       <tr><th width="40%" ng-click="sortObj('first_name',$event)">NAME &nbsp;<i class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                           <th width="30%" ng-click="sortObj('role',$event)">USER TYPE &nbsp;<i class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                           <th width="30%" ng-click="sortObj('mobile',$event)">MOBILE &nbsp;<i class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                       </tr>
                       </thead>
                       <tbody>
                         <tr ng-repeat="item in user
                            | orderBy:sort:desc
                            | filter:searchInput
                            | startFrom:currentPage * pageAmount.selected.name
                            | limitTo:pageAmount.selected.name
                            track by $index"
                            ng-click="toUser(item.user_id)">
                           <td><img ng-if="item.avatar" ng-src="{{item.avatar}}" alt="">
                               <img ng-if="!item.avatar" ng-src="/images/avatar.jpg" alt="">
                               {{item.first_name}} {{item.last_name}}</td>
                           <td>{{item.role}}</td>
                           <td>{{item.mobile}}</td>
                         </tr>
                       </tbody>
                    </table>
                    <div class="page_num">
                      <span>Page: {{currentPage+1}}/{{totalPage}}</span>
                    </div>
                 </div>
              </div>

            </div>
          </div>

     </div>
     <script type="text/javascript" src="../scripts/loan-job-list.js"></script>
  </body>
</html>
