<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>user profile</title>

    <link rel="stylesheet" href="../styles/user_details.css">
</head>

<body>
<nav class="nav_bar" ng-include="'views/partials/navigation.html'">
</nav>

<div class='main' >

    <aside class="left_bar" data-status='open' ng-include="'views/partials/sidebar.html'">
    </aside>

    <div class="right_part">

        <div class="width_fix">
            <div class="personal_detail">
                <h3>Personal Details</h3>
                <span class="editBtn" ng-click="edit()"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></i></span>
                <h4>Profile</h4>
                <hr>
                <div class="user_name">
                    <img ng-if = "user.avatar" ng-src="{{user.avatar}}" alt="">
                    <img ng-if = "!user.avatar" ng-src="{{default_img_url}}" alt="">
                    <span><input class='disable' type="text" name="" ng-model="user.first_name" disabled><input class='disable' type="text" name="" ng-model="user.last_name" disabled></span>
                </div>
                <h4>Credentials</h4>
                <hr>
                <div class="user_info">
                    <label>Username</label><span>{{user.email||'null'}}</span><br>
                </div>

                <h4>Contact numbers</h4>
                <hr>
                <div class="number_message">
                    <label>Mobile</label><span><input class='disable' type="text" ng-model="user.mobile" disabled></span><br>
                    <label>Phone</label><span><input class='disable' type="text" ng-model="user.phone" disabled></span><br>
                    <!--<label>Fax</label><span><input class='disable' type="text" name="" disabled></span><br>-->
                    <label class='prefer'>Prefered contact time</label><span><input class='disable' type="text" ng-model="user.preferred_time" disabled></span><br>
                    <label class='prefer'>Prefered contact method</label><span><input class='disable' type="text" ng-model="user.preferred_method" disabled></span>
                </div>

                <button class="saveBtn" type="button" name="button" ng-click="save()">Save</button>
            </div>
        </div>

      <div class="width_fix" style="min-wdith:1500px !important; max-width:1500px !important;">
        <div class="user_job_list">
            <table class='"table table-striped"'>
                <thead>
                <tr>
                    <th style="min-width: 157px;" ng-click="sortObj('name',$event)">NAME &nbsp;<i class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                    <th style="min-width: 157px;" ng-click="sortObj('deal_status.label',$event)">STATUS &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                    <th style="min-width: 137px;" ng-click="sortObj('loan_amount',$event)">LOAN AMOUNT &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                    <!--<th style="min-width: 100px;"><span ng-click="sortObj('first_name',$event)">ASSIGN &nbsp;<i class="fa fa-caret-up fa-lg" aria-hidden="true"></i></span></th>-->
                    <th style="min-width: 141px;" ng-click="sortObj('loan_purpose.label',$event)">LOAN PURPOSE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                    <th style="min-width: 89px;" ng-click="sortObj('broker.name',$event)">BROKER &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                    <th style="min-width: 89px;" ng-click="sortObj('admin.name',$event)">ADMIN &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>
                    <th style="min-width: 157px;" ng-click="sortObj('repayment_type.label',$event)">REPAYMENT TYPE &nbsp;<i  class="false fa fa-caret-up fa-lg" aria-hidden="true"></i></th>

                </tr>
                </thead>

                <tbody>
                <tr ng-repeat="item in job
                      | orderBy:sort:desc
                      | startFrom:currentPage * pageAmount.selected.name
                      | limitTo:pageAmount.selected.name
                      track by $index" class='item' ng-click="toApproval(item.id)">
                    <td>
                        <img ng-if="item.avatar" ng-src="{{item.avatar}}" alt="">
                        <img ng-if="!item.avatar" ng-src="{{default_img_url}}" alt="">
                        <span class='name'>{{item.name}}</span>
                    </td>

                    <td>{{item.deal_status.label}}</td>
                    <td>{{item.loan_amount|currency}}</td>
                    <td>{{item.loan_purpose.label}}</td>
                    <td>{{item.broker.name}}</td>
                    <td>{{item.admin.name}}</td>
                    <td>{{item.repayment_type.label}}</td>
                </tr>

                </tbody>
            </table>

           <div class="paging">
            <div class="page">
                <ul class="pager">
                    <li ><a href="javascript:;" ng-click="prevPage()"><i class="fa fa-chevron-left" aria-hidden="true"></i>&nbsp; Prev</a></li>
                    {{currentPage+1}}/{{totalPage}}
                    <li ><a href="javascript:;" ng-click="nextPage()">Next &nbsp;<i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
             <ui-select ng-model="pageAmount.selected" search-enabled="false" class="selectpicker select_page"
                        onkeypress="return false;" ng-disabled="disabled" style="z-index:1;">
                 <ui-select-match placeholder="Select the number of pages">
                     <span ng-bind="$select.selected.name"></span>
                 </ui-select-match>
                 <ui-select-choices repeat="item in (pageAmount|filter:$select.search) track by $index"
                                    style="width:60px;" ng-click="returnToFirst()">
                     <span ng-bind="item.name" style="width:60px;"></span>
                 </ui-select-choices>
             </ui-select>
          </div>
        </div>
      </div>
    </div>

</div>

<script type="text/javascript" src="../scripts/loan-job-list.js"></script>
<script type="text/javascript" src='../scripts/loan-user-profile.js'> </script>
</body>
</html>
